<form id="document_metadata" action="<%= url_for(:action=>"update", :controller=>"masters", :content_type=>"master")%>" method="post" data-resourceType="<%= content_type %>" accept-charset="utf-8">
  <fieldset id="work_fields">
    <legend> Description </legend>
    <dl>
      <dt>
        Parent:
      </dt>
      <dd class="parent">
	  <%= link_to !(@document_fedora.member_of.first.event_id.empty?) ? @document_fedora.member_of.first.event_id : @document_fedora.member_of.first.pid, catalog_path(@document_fedora.member_of.first.pid, :content_type => "event") %>
      </dd>
      <dt>
        <%= fedora_field_label("descMetadata", [:pbcorePart, :pbcoreInstantiation, :instantiationIdentifier], "ID:") %>
      </dt>
      <dd class="master_id">
        <%= fedora_text_field(@document_fedora,"descMetadata", [:pbcorePart, :pbcoreInstantiation, :instantiationIdentifier])%>
      </dd>
      <% num_of_creators = @document_fedora.datastreams["descMetadata"].get_values([:pbcorePart, :pbcoreCreator]).size %>
      <% i = 0 %>
      <% while i < num_of_creators do %>
        <%- if((get_values_from_datastream(@document_fedora, "descMetadata", [:pbcorePart, {:pbcoreCreator => i}, :creator, :creator_annotation])).to_s.eql?"video_creator") -%>
          <dt>
            <%= fedora_field_label("descMetadata", [:pbcorePart, {:pbcoreCreator => i}, :creator], "Video Creator:") %>
          </dt>
          <dd class="creator">
            <%= fedora_text_field(@document_fedora, "descMetadata", [:pbcorePart, {:pbcoreCreator => i}, :creator]) %>
          </dd>
        <%- end -%>
        <% i = i+1 %>
      <%- end -%>
      <% i = 0 %>
      <% while i < num_of_creators do %>
        <%- if((get_values_from_datastream(@document_fedora, "descMetadata", [:pbcorePart, {:pbcoreCreator => i}, :creator, :creator_annotation])).to_s.eql?"owner") -%>
	  <dt>
            <%= fedora_field_label("descMetadata", [:pbcorePart, {:pbcoreCreator => i}, :creator], "Owner:") %>
          </dt>
          <dd class="owner ldap-lookup">
            <%- owner_group_names = [""] | Group.owner_group_names -%>
            <%- cur_val = get_values_from_datastream(@document_fedora,"descMetadata", [:pbcorePart, {:pbcoreCreator => i}, :creator]) -%>
            <%- unless cur_val.empty? || owner_group_names.include?(cur_val.first) -%> 
              <% owner_group_names << cur_val.first %>
            <%- end -%>
            <%= fedora_select(@document_fedora,"descMetadata", [:pbcorePart, {:pbcoreCreator => i}, :creator], :choices=>owner_group_names) %>
          </dd>
        <%- end -%>
        <% i = i+1 %>
      <%- end -%>
      <% i = 0 %>
      <% while i < num_of_creators do %>
        <%- if((get_values_from_datastream(@document_fedora, "descMetadata", [:pbcorePart, {:pbcoreCreator => i}, :creator, :creator_annotation])).to_s.eql?"creator") -%>
          <dt>
            <%= fedora_field_label("descMetadata", [:pbcorePart, {:pbcoreCreator => i}, :creator], "Creator:") %>
          </dt>
          <dd class="creator">
            <%= get_values_from_datastream(@document_fedora, "descMetadata", [:pbcorePart, {:pbcoreCreator => i}, :creator]) %>
          </dd>
        <%- end -%>
        <% i = i+1 %>
      <%- end -%>
       <dt>
        <%= fedora_field_label("descMetadata", [:pbcorePart, :pbcoreInstantiation, :instantiationDate], "Creation Date:") %>
      </dt>
      <dd class="date">
        <%= fedora_date_select(@document_fedora,"descMetadata", [:pbcorePart, :pbcoreInstantiation, :instantiationDate])%>
      </dd>
      <dt>
        <%= fedora_field_label("descMetadata", [:pbcorePart, :pbcoreInstantiation, :instantiationTracks], "Tracks:") %>
      </dt>
      <dd class="track">
        <%= fedora_text_field(@document_fedora,"descMetadata", [:pbcorePart, :pbcoreInstantiation, :instantiationTracks]) %>
      </dd>
      <dt>
        <%= fedora_field_label("descMetadata", [:pbcorePart, :pbcoreInstantiation, :essenceTrack, :essenceTrackDuration], "Track Duration:") %>
      </dt>
      <dd class="duration">
        <%= fedora_text_field(@document_fedora,"descMetadata", [:pbcorePart, :pbcoreInstantiation, :essenceTrack, :essenceTrackDuration]) %>
      </dd>
      <dt>
        <%= fedora_field_label("descMetadata", [:pbcorePart, :pbcoreInstantiation, :essenceTrack, :essenceTrackDataRate], "Track Data Rate:") %>
      </dt>
      <dd class="datarate">
        <%= fedora_text_field(@document_fedora,"descMetadata", [:pbcorePart, :pbcoreInstantiation, :essenceTrack, :essenceTrackDataRate]) %>
      </dd>
      <dt>
        <%= fedora_field_label("descMetadata", [:pbcorePart, :pbcoreInstantiation, :essenceTrack, :essenceTrackAspectRatio], "Aspect Ratio:") %>
      </dt>
      <dd class="aspect_ratio">
        <%= fedora_text_field(@document_fedora,"descMetadata", [:pbcorePart, :pbcoreInstantiation, :essenceTrack, :essenceTrackAspectRatio]) %>
      </dd>
      <dt>
        <%= fedora_field_label("descMetadata", [:pbcorePart, :pbcoreInstantiation, :fileSize], "File Size:") %>
      </dt>
      <dd class="filesize">
        <input class="update_description_display" type="hidden" name="description display" action="<%= derivatives_path(params[:id],:content_type=>content_type)%>"/>
        <%= fedora_text_field(@document_fedora,"descMetadata", [:pbcorePart, :pbcoreInstantiation, :fileSize]) %>
        <%= fedora_select(@document_fedora,"descMetadata", [:pbcorePart, :pbcoreInstantiation, :fileSize, :fileSize_unit], :choices=>["", "KB", "MB", "GB"])%>
      </dd>
      <dt>
        <%= fedora_field_label("descMetadata", [:pbcorePart, :pbcoreInstantiation, :digital], "File Format:") %>
      </dt>
      <dd class="filesize">
        <%= fedora_text_field(@document_fedora,"descMetadata", [:pbcorePart, :pbcoreInstantiation, :digital]) %>
      </dd>
      <dt>
        <%= fedora_field_label("descMetadata", [:pbcorePart, :pbcoreInstantiation, {:instantiationAnnotation => "0"}, :text], "Description:") %>
      </dt>
      <dd class="annotation">
        <%= fedora_text_area(@document_fedora,"descMetadata", [:pbcorePart, :pbcoreInstantiation, {:instantiationAnnotation => "0"}, :text]) %>
      </dd>
      <%- if can? :edit_archive_master, MasterWorkflow -%>
        <%=render :partial=>'masters/edit_archive_fields'%>
      <%- else -%>
        <%=render :partial=>'masters/show_archive_fields'%>
      <%-end -%>
    </dl>
  </fieldset>
  <fieldset id="links">
    <legend>Links</legend>
      <ul id="speaker-listing">
        <%= render :partial=>"masters/edit_assetlink", :collection=>@document_fedora.datastreams_in_memory["descMetadata"].find_by_terms(:pbcorePart, :pbcorePart) %>
      </ul>
      <% if params[:action] == "edit" %>
        <% format = document_partial_name(@document) %>
      <% end %>
      <div id="add-speaker">
        <input id="re-run-action" class="nobutton button" type="button" value="Add A Link" onclick=" location.href='<%=url_for(:action => "add", :controller => "masters", :content_type => "master", :text_field => "pbcorePart_pbcorePart", :field_type => "assetlink_master") %>'"/> 
      </div>
  </fieldset>
  <fieldset id="files">
    <legend>Files</legend>
    <dl>
      <dd>
        <div id="uploads" data-pid=<%= params[:id] %>></div>
        <%= async_load_tag(asset_file_assets_path(params[:id], :layout=>"false"), 'uploads') %>
      </dd>
      <dd>
        <input type="radio" name="file_radio" id="link_file_radio" VALUE="link_to_file">&nbsp;&nbsp;Link to File&nbsp;&nbsp;
        <input type="radio" name="file_radio" id="upload_file_radio" VALUE="upload_file" CHECKED>&nbsp;&nbsp;Upload a File&nbsp;&nbsp;
      </dd>
    </dl>
  </fieldset>
</form>

<%- if @document_fedora.state_events.any? -%>
  <%- @document_fedora.state_events.each do |state_event| -%>
    <%- form_for @document_fedora, :url => trigger_master_path(@document_fedora), :html => { :class => 'state-transition' } do |f| -%>
      <fieldset>
        <legend><%=state_event.to_s.humanize.titleize%></legend>
        <%= f.error_messages %>
        <%= f.hidden_field :events_to_fire, :value => state_event -%>
        <dl>
          <dt><%= f.label :submit_notes %></dt>
          <dd><%= f.text_area :state_transition_comments -%></dd>
        </dl>
        <%= f.submit state_event.to_s.humanize.titleize, :class=> 'button' %>
      </fieldset>
    <%- end -%>
  <%- end -%>
<%- end -%>

