<h2 class="section-title">List of Derivatives</h2>
<%- response = @response if response.nil? -%>
<%- collection_obj = @document_fedora -%>
<%- collection_class_name = @document_fedora.class.name -%>
<%- arr = Array.new -%>
<ul class="children">
  <%- if collection_obj.members.any? -%>
    <%- collection_obj.members(:rows=> "1024").each_with_index do |doc, counter| -%>
      <li>
        <%- item = Derivative.load_instance(doc.pid) -%>
        <%= counter+1 %>. <%= link_to (item.derivative_id.empty? ? item.pid : item.derivative_id), catalog_path(item.pid, :event_id => params[:event_id], :master_id => params[:master_id].nil? ? params[:id] : params[:master_id], :content_type => "derivative") %>
        <dl>
          <%- unless get_values_from_datastream(item, "descMetadata", [:pbcorePart, :pbcoreDescription]).first.empty? -%>
            <dt> Derivative Type: </dt>
            <dd><%= get_values_from_datastream(item, "descMetadata", [:pbcorePart, :pbcoreDescription]) %></dd>
          <%- end -%>
          <%- unless get_values_from_datastream(item, "descMetadata", [:pbcorePart, :pbcoreInstantiation, :instantiationDate]).first.empty? -%>
            <dt> Creation Date: </dt>
            <dd><%= get_values_from_datastream(item, "descMetadata", [:pbcorePart, :pbcoreInstantiation, :instantiationDate]) %></dd>
          <%- end -%>
        </dl>
      </li>
    <%- end -%>
  <%- else -%>
    <li>No Derivatives have been created of this <%= collection_class_name %>.</li>
  <%- end -%>
</ul>

<%- if (can? :create_derivative, EventWorkflow) -%>
  <%- new_derivative_params = {
                    :content_type => 'derivative',
                    :event_id     => params[:event_id],
                    :master_id    => ( params[:master_id] ? params[:master_id] : params[:id] )
  } -%>
  <%- new_derivative_params.merge!({ :id => params[:id], :level => 2 }) if collection_obj.is_a? Derivative -%>
  <%= link_to "Create a Derivative of this #{collection_class_name}", new_derivative_path( new_derivative_params ), :class => 'button' %>
<%- end -%>
