<% javascript_includes << ['jquery.selectlist.min.js', 'multiselect.js', 'ldap_autocomplete.js'] %>
<%- form_for @group, :html => { :class => 'ar-form' } do |f| -%>
  <%= f.error_messages %>
  <fieldset>
    <legend>Attributes</legend>
    <ol>
      <li>
      <%- if @group.for_cancan? -%>
        <strong>Name:</strong>
        <p><%= @group.pretty_name %></p>
      <%- else -%>
        <%= f.label :name, 'Name:' %>
        <%= f.text_field :name %>
      <%- end -%>
      </li>
      <li>
        <%= f.label :users, 'Group Members:' %>
        Group members listed by NetID. Add more by name or by NetID using the lookup tool.
        <%= f.text_field :user_logins, :class => 'multiple-ldap-autocomplete' %>
      </li>
  <%- if can? :manage_abilities, Group -%>
      <li>
        <%= f.label :restricted, 'Restrict group management to Administrative users:' %>
        <%= f.check_box :restricted %>
      </li>
      <li>
        <%= f.label :is_hydra_role, 'Group is relevant to hydra application:' %>
        <%= f.check_box :is_hydra_role %>
      </li>
      <%# NOTE this will need to be more generic eventually. %>
      <li>
        <%= f.label :permissible_actions, 'Actions this Group can perform on an Event:' %>
        <%= f.collection_select :permissible_actions, EventWorkflow.permissible_actions, :to_s, :display_name, { :include_blank => true, :selected => @group.action_names_for_class(EventWorkflow).map{|name| name.to_s} }, { :multiple => true, :name => 'group[permissible_actions][event_workflow][]', :class => 'multiselect' } %>
      </li>
    </ol>
  <%- else -%>
    </ol>
    <%= f.hidden_field :is_hydra_role %>
  <%- end -%>
  </fieldset>
  <%= f.submit submit_button_message, :class => 'button' %>
  <%= f.submit cancel_button_message, :name => 'Cancel', :class => 'button' %>
<%- end -%>
