<fieldset id="work_fields">
  <legend> Description </legend>
  <% event_obj = @document_fedora.parent_event %>
  <form id="document_metadata" action="<%= url_for(:action=>"update", :controller=>"derivatives", :content_type=>"derivative")%>" method="post" data-resourceType="<%= content_type %>" accept-charset="utf-8">
    <dl>
      <dt>
        Parent:
      </dt>
      <dd class="parent">
	<%- if(@document_fedora.member_of.first.class == Master) -%>
	  <%= link_to !(@document_fedora.member_of.first.master_id.empty?) ? @document_fedora.member_of.first.master_id : @document_fedora.member_of.first.pid, catalog_path(@document_fedora.member_of.first.pid, :event_id => params[:event_id], :master_id=> params[:master_id], :content_type => "derivative") %>
	<%- else -%>
	  <%= link_to !(@document_fedora.member_of.first.derivative_id.empty?) ? @document_fedora.member_of.first.derivative_id : @document_fedora.member_of.first.pid, catalog_path(@document_fedora.member_of.first.pid, :event_id => params[:event_id], :master_id=> params[:master_id], :content_type => "derivative") %>
	<%- end -%>
      </dd>
            <% num_of_creators = @document_fedora.datastreams["descMetadata"].get_values([:pbcorePart, :pbcoreCreator]).size %>
      <% i = 0 %>
      <% while i < num_of_creators do %>
        <%- if((get_values_from_datastream(@document_fedora, "descMetadata", [:pbcorePart, {:pbcoreCreator => i}, :creator, :creator_annotation])).to_s.eql?"owner") -%>
	  <dt>
            <%= fedora_field_label("descMetadata", [:pbcorePart, {:pbcoreCreator => i}, :creator], "Owner:") %>
          </dt>
          <dd class="owner ldap-lookup">
            <%= fedora_text_field(@document_fedora, "descMetadata", [:pbcorePart, {:pbcoreCreator => i}, :creator]) %>
          </dd>
        <%- end -%>
        <% i = i+1 %>
      <%- end -%>
      <% i = 0 %>
      <% while i < num_of_creators do %>
        <%- if((get_values_from_datastream(@document_fedora, "descMetadata", [:pbcorePart, {:pbcoreCreator => i}, :creator, :creator_annotation])).to_s.eql?"creator") -%>
          <dt>
            <%= fedora_field_label("descMetadata", [:pbcorePart, {:pbcoreCreator => i}, :creator], "Creator:") %>
          </dt>
          <dd class="creator">
            <%= get_values_from_datastream(@document_fedora, "descMetadata", [:pbcorePart, {:pbcoreCreator => i}, :creator]) %>
          </dd>
        <%- end -%>
        <% i = i+1 %>
      <%- end -%>
      <input class="update_description_display" type="hidden" name="description display" action="<%= derivatives_path(params[:id],:content_type=>content_type)%>"/>
      <dt>
	<%= fedora_field_label("descMetadata", [:pbcorePart, :pbcoreDescription], "Type of Derivative:") %>
      </dt>
      <dd class="derivative_type">
	  <%= fedora_select(@document_fedora,"descMetadata", [:pbcorePart, :pbcoreDescription], :choices=>{"DVD (Mpeg2)" => "DVD (Mpeg2)","Youtube (H.264)" => "Youtube (H.264)", "iTunesU (MP4)" => "iTunesU (MP4)", "ND Website (Flash)" => "ND Website (Flash)"})%>
      </dd>
      <dt>
        <%= fedora_field_label("descMetadata", [:pbcorePart, :pbcoreInstantiation, :instantiationIdentifier], "ID:") %>
      </dt>
      <dd class="derivative_id">
	<%= fedora_text_field(@document_fedora,"descMetadata", [:pbcorePart, :pbcoreInstantiation, :instantiationIdentifier])%>
      </dd>
      <dt>
        <%= fedora_field_label("descMetadata", [:pbcorePart, :pbcoreInstantiation, :instantiationDate], "Creation Date:") %>
      </dt>
      <dd class="date">
        <%= fedora_text_field(@document_fedora,"descMetadata", [:pbcorePart, :pbcoreInstantiation, :instantiationDate]) %>
      </dd>
      <dt>
        <%= fedora_field_label("descMetadata", [:pbcorePart, :pbcoreInstantiation, :essenceTrack, :essenceTrackDuration], "Track Duration:") %>
      </dt>
      <dd class="duration">
        <%= fedora_text_field(@document_fedora,"descMetadata", [:pbcorePart, :pbcoreInstantiation, :essenceTrack, :essenceTrackDuration]) %>
      </dd>
      <dt>
        <%= fedora_field_label("descMetadata", [:pbcorePart, :pbcoreInstantiation, :essenceTrack, :essenceTrackDataRate], "Track Data Rate:") %>
      </dt>
      <dd class="datarate">
        <%= fedora_text_field(@document_fedora,"descMetadata", [:pbcorePart, :pbcoreInstantiation, :essenceTrack, :essenceTrackDataRate]) %>
      </dd>
      <dt>
        <%= fedora_field_label("descMetadata", [:pbcorePart, :pbcoreInstantiation, :essenceTrack, :essenceTrackAspectRatio], "Aspect Ratio:") %>
      </dt>
      <dd class="aspect_ratio">
        <%= fedora_text_field(@document_fedora,"descMetadata", [:pbcorePart, :pbcoreInstantiation, :essenceTrack, :essenceTrackAspectRatio]) %>
      </dd>
      <dt>
        <%= fedora_field_label("descMetadata", [:pbcorePart, :pbcoreInstantiation, :fileSize], "File Size:") %>
      </dt>
      <dd class="filesize">
        <input class="update_description_display" type="hidden" name="description display" action="<%= derivatives_path(params[:id],:content_type=>content_type)%>"/>
        <%= fedora_text_field(@document_fedora,"descMetadata", [:pbcorePart, :pbcoreInstantiation, :fileSize]) %>
        <%= fedora_select(@document_fedora,"descMetadata", [:pbcorePart, :pbcoreInstantiation, :fileSize, :fileSize_unit], :choices=>{"KB" => "KB","MB" => "MB","GB" => "GB"})%>
      </dd>
      <dt>
        <%= fedora_field_label("descMetadata", [:pbcorePart, :pbcoreInstantiation, :digital], "File Format:") %>
      </dt>
      <dd class="fileformat">
        <%= fedora_text_field(@document_fedora,"descMetadata", [:pbcorePart, :pbcoreInstantiation, :digital]) %>
      </dd>
      <dt>
        <%= fedora_field_label("descMetadata", [:pbcorePart, :pbcoreInstantiation, {:instantiationAnnotation => "0"}, :text], "Description:") %>
      </dt>
      <dd class="description">
        <%= fedora_text_area(@document_fedora,"descMetadata", [:pbcorePart, :pbcoreInstantiation, {:instantiationAnnotation => "0"}, :text]) %>
      </dd>
      <dt>
        <%= fedora_field_label("descMetadata", [:pbcorePart, :pbcoreInstantiation, {:instantiationAnnotation => "1"}, :text], "Retention Schedule:") %>
      </dt>
      <dd class="retention_schedule">
        <%= fedora_text_area(@document_fedora,"descMetadata", [:pbcorePart, :pbcoreInstantiation, {:instantiationAnnotation => "1"}, :text]) %>
      </dd>
      <%- if(@document_fedora.level.eql?"1") -%>
        <dt>
          <%= fedora_field_label("properties", [:chapter], "Chapter:") %>
        </dt>
        <dd class="chapter">
          <%= fedora_text_area(@document_fedora,"properties", [:chapter]) %>
        </dd>
      <%- end -%>
    </dl>
  </form>
</fieldset>
