<fieldset id="work_fields">
  <legend> Description </legend>
  <% event_obj = @document_fedora.parent_event %>
  <% num_of_creators = event_obj.datastreams["descMetadata"].get_values([:pbcoreDescriptionDocument, :pbcoreCreator]).size %>
  <% i = 0 %>
  <% owner_index = 0 %>
  <% creator_index = 0 %>
  <% while i < num_of_creators do %>
    <%- if((get_values_from_datastream(event_obj, "descMetadata", [:pbcoreDescriptionDocument, {:pbcoreCreator => i}, :creatorRole, :creatorRole_annotation])).to_s.eql?(@document_fedora.pid.to_s)) -%>
      <%- if((get_values_from_datastream(event_obj, "descMetadata", [:pbcoreDescriptionDocument, {:pbcoreCreator => i}, :creator, :creator_annotation])).to_s.eql?"creator") -%>
        <% creator_index = i %>
      <%- elsif((get_values_from_datastream(event_obj, "descMetadata", [:pbcoreDescriptionDocument, {:pbcoreCreator => i}, :creator, :creator_annotation])).to_s.eql?"owner") -%>
	<% owner_index = i %>
      <%- end -%>
    <%- end -%>
    <% i = i+1 %>
  <%- end -%>
  <form id="document_metadata" action="<%= url_for(:action=>"update", :controller=>"events", :content_type=>"event", :id=>event_obj.pid)%>" method="post" data-resourceType="<%= content_type %>" accept-charset="utf-8">
    <dl>
      <dt>
        <%= fedora_field_label("descMetadata", [:pbcoreDescriptionDocument, {:pbcoreCreator => owner_index}, :creator], "Owner:") %>
      </dt>
      <dd class="owner">
        <%= fedora_text_field(event_obj, "descMetadata", [:pbcoreDescriptionDocument, {:pbcoreCreator => owner_index}, :creator]) %>
      </dd>
    </dl>
  </form>
  <form id="document_metadata" action="<%= url_for(:action=>"update", :controller=>"derivatives", :content_type=>"derivative")%>" method="post" data-resourceType="<%= content_type %>" accept-charset="utf-8">
    <dl>
      <dt>
        <%= fedora_field_label("descMetadata", [:pbcoreDescriptionDocument, {:pbcoreCreator => creator_index}, :creator], "Creator:") %>
      </dt>
      <dd class="creator">
        <%= get_values_from_datastream(event_obj, "descMetadata", [:pbcoreDescriptionDocument, {:pbcoreCreator => creator_index}, :creator]) %>
      </dd>
      <input class="update_description_display" type="hidden" name="description display" action="<%= derivatives_path(params[:id],:content_type=>content_type)%>"/>
      <dt>
	<%= fedora_field_label("properties", [:derivative_type], "Type of Derivative:") %>
      </dt>
      <dd class="derivative_type">
        <%- if(@document_fedora.level.eql?"2") -%>
	  <%= fedora_select(@document_fedora,"properties", [:derivative_type], :choices=>{"DVD (Mpeg2)" => "DVD (Mpeg2)","Youtube (H.264)" => "Youtube (H.264)", "iTunesU (MP4)" => "iTunesU (MP4)", "ND Website (Flash)" => "ND Website (Flash)"})%>
        <%- else -%>
	  <%= get_values_from_datastream(@document_fedora,"properties", [:derivative_type]) %>
        <%- end -%>
      </dd>
      <dt>
        <%= fedora_field_label("descMetadata", [:instantiationPart, :instantiationIdentifier], "ID:") %>
      </dt>
      <dd class="derivative_id">
	<% composite_id = "" %>
	<% cur_obj = @document_fedora %>
        <%- while(cur_obj.respond_to?(:member_of)) -%>
	  <% cur_obj = cur_obj.member_of.first %>
	  <% composite_id = "#{cur_obj.composite_id}#{composite_id}" %>
	<%- end -%>
        <%= composite_id %><%= fedora_text_field(@document_fedora,"descMetadata", [:instantiationPart, :instantiationIdentifier])%>
      </dd>
      <dt>
        <%= fedora_field_label("descMetadata", [:instantiationPart, :instantiationDate], "Creation Date:") %>
      </dt>
      <dd class="date">
        <%= fedora_text_field(@document_fedora,"descMetadata", [:instantiationPart, :instantiationDate]) %>
      </dd>
      <dt>
        <%= fedora_field_label("descMetadata", [:instantiationPart, :essenceTrack, :essenceTrackDuration], "Track Duration:") %>
      </dt>
      <dd class="duration">
        <%= fedora_text_field(@document_fedora,"descMetadata", [:instantiationPart, :essenceTrack, :essenceTrackDuration]) %>
      </dd>
      <dt>
        <%= fedora_field_label("descMetadata", [:instantiationPart, :essenceTrack, :essenceTrackDataRate], "Track Data Rate:") %>
      </dt>
      <dd class="datarate">
        <%= fedora_text_field(@document_fedora,"descMetadata", [:instantiationPart, :essenceTrack, :essenceTrackDataRate]) %>
      </dd>
      <dt>
        <%= fedora_field_label("descMetadata", [:instantiationPart, :essenceTrack, :essenceTrackAspectRatio], "Aspect Ratio:") %>
      </dt>
      <dd class="aspect_ratio">
        <%= fedora_text_field(@document_fedora,"descMetadata", [:instantiationPart, :essenceTrack, :essenceTrackAspectRatio]) %>
      </dd>
      <dt>
        <%= fedora_field_label("descMetadata", [:instantiationPart, :fileSize], "File Size:") %>
      </dt>
      <dd class="filesize">
        <input class="update_description_display" type="hidden" name="description display" action="<%= derivatives_path(params[:id],:content_type=>content_type)%>"/>
        <%= fedora_text_field(@document_fedora,"descMetadata", [:instantiationPart, :fileSize]) %>
        <%= fedora_select(@document_fedora,"descMetadata", [:instantiationPart, :fileSize, :fileSize_unit], :choices=>{"KB" => "KB","MB" => "MB","GB" => "GB"})%>
      </dd>
      <dt>
        <%= fedora_field_label("descMetadata", [:instantiationPart, :digital], "File Format:") %>
      </dt>
      <dd class="fileformat">
        <%= fedora_text_field(@document_fedora,"descMetadata", [:instantiationPart, :digital]) %>
      </dd>
      <dt>
        <%= fedora_field_label("descMetadata", [:instantiationPart, {:instantiationAnnotation => "0"}, :text], "Description:") %>
      </dt>
      <dd class="description">
        <%= fedora_text_area(@document_fedora,"descMetadata", [:instantiationPart, {:instantiationAnnotation => "0"}, :text]) %>
      </dd>
      <dt>
        <%= fedora_field_label("descMetadata", [:instantiationPart, {:instantiationAnnotation => "1"}, :text], "Retention Schedule:") %>
      </dt>
      <dd class="retention_schedule">
        <%= fedora_text_area(@document_fedora,"descMetadata", [:instantiationPart, {:instantiationAnnotation => "1"}, :text]) %>
      </dd>
      <%- if(@document_fedora.level.eql?"1") -%>
        <dt>
          <%= fedora_field_label("properties", [:chapter], "Chapter:") %>
        </dt>
        <dd class="chapter">
          <%= fedora_text_area(@document_fedora,"properties", [:chapter]) %>
        </dd>
      <%- end -%>
    </dl>
  </form>
</fieldset>
