<fieldset id="work_fields">
  <legend>Description</legend>
  <% event_obj = @document_fedora.parent_event %>
  <% num_of_creators = @document_fedora.datastreams["descMetadata"].get_values([:pbcorePart, :pbcoreCreator]).size %>
  <% i = 0 %>
  <% owner_index = 0 %>
  <% creator_index = 0 %>
  <% while i < num_of_creators do %>
    <%- if((get_values_from_datastream(@document_fedora, "descMetadata", [:pbcorePart, {:pbcoreCreator => i}, :creator, :creator_annotation])).to_s.eql?"creator") -%>
      <% creator_index = i %>
    <%- elsif((get_values_from_datastream(@document_fedora, "descMetadata", [:pbcorePart, {:pbcoreCreator => i}, :creator, :creator_annotation])).to_s.eql?"owner") -%>
      <% owner_index = i %>
    <%- end -%>
    <% i = i+1 %>
  <%- end -%>
    <dl>
      <dt>
        Parent:
      </dt>
      <dd class="parent">
	<%- if(@document_fedora.member_of.first.class == Master) -%>
	  <%= link_to !(@document_fedora.member_of.first.master_id.empty?) ? @document_fedora.member_of.first.master_id : @document_fedora.member_of.first.pid, catalog_path(@document_fedora.member_of.first.pid, :event_id => params[:event_id], :master_id=> params[:master_id], :content_type => "derivative") %>
	<%- else -%>
	  <%= link_to !(@document_fedora.member_of.first.derivative_id.empty?) ? @document_fedora.member_of.first.derivative_id : @document_fedora.member_of.first.pid, catalog_path(@document_fedora.member_of.first.pid, :event_id => params[:event_id], :master_id=> params[:master_id], :content_type => "derivative") %>
	<%- end -%>
      </dd>
    <% unless get_values_from_datastream(@document_fedora, "descMetadata", [:pbcorePart, {:pbcoreCreator => owner_index}, :creator]).first.empty? %>
      <dt>
        <%= fedora_field_label("descMetadata", [:pbcorePart, {:pbcoreCreator => owner_index}, :creator], "Owner:") %>
      </dt>
      <dd class="owner">
	<%= get_values_from_datastream(@document_fedora, "descMetadata", [:pbcorePart, {:pbcoreCreator => owner_index}, :creator]) %>
      </dd>
    <% end %>
    <% unless get_values_from_datastream(@document_fedora, "descMetadata", [:pbcorePart, {:pbcoreCreator => owner_index}, :creator]).first.empty? %>
      <dt>
        <%= fedora_field_label("descMetadata", [:pbcorePart, {:pbcoreCreator => creator_index}, :creator], "Creator:") %>
      </dt>
      <dd class="creator">
        <%= get_values_from_datastream(@document_fedora, "descMetadata", [:pbcorePart, {:pbcoreCreator => creator_index}, :creator]) %>
      </dd>
    <% end %>
    <% unless get_values_from_datastream(@document_fedora,"properties", [:pbcorePart, :pbcoreDescription]).first.empty? %>
      <dt>
        <%= fedora_field_label("properties", [:pbcorePart, :pbcoreDescription], "Derivative Type:") %>
      </dt>
      <dd class="derivative_type">
        <%= get_values_from_datastream(@document_fedora,"properties", [:pbcorePart, :pbcoreDescription]) %>
      </dd>
    <% end %>

    <% unless get_values_from_datastream(@document_fedora,"descMetadata", [:pbcorePart, :pbcoreInstantiation, :instantiationIdentifier]).first.empty? %>
      <dt>
        <%= fedora_field_label("descMetadata", [:pbcorePart, :pbcoreInstantiation, :instantiationIdentifier], "ID:") %>
      </dt>
        <%= get_values_from_datastream(@document_fedora,"descMetadata", [:pbcorePart, :pbcoreInstantiation, :instantiationIdentifier]) %>
      </dd>
    <% end %>

    <% unless get_values_from_datastream(@document_fedora,"descMetadata", [:pbcorePart, :pbcoreInstantiation, :instantiationDate]).first.empty? %>
      <dt>
        <%= fedora_field_label("descMetadata", [:pbcorePart, :pbcoreInstantiation, :instantiationDate], "Creation Date:") %>
      </dt>
      <dd class="event_id">
        <%= get_values_from_datastream(@document_fedora,"descMetadata", [:pbcorePart, :pbcoreInstantiation, :instantiationDate]) %>
      </dd>
    <% end %>

    <% unless get_values_from_datastream(@document_fedora,"descMetadata", [:pbcorePart, :pbcoreInstantiation, :essenceTrack, :essenceTrackDuration]).first.empty? %>
      <dt>
        <%= fedora_field_label("descMetadata", [:pbcorePart, :pbcoreInstantiation, :essenceTrack, :essenceTrackDuration], "Track Duration:") %>
      </dt>
      <dd class="date">
        <%= get_values_from_datastream(@document_fedora,"descMetadata", [:pbcorePart, :pbcoreInstantiation, :essenceTrack, :essenceTrackDuration]) %>
      </dd>
    <% end %>

    <% unless get_values_from_datastream(@document_fedora,"descMetadata", [:pbcorePart, :pbcoreInstantiation, :essenceTrack, :essenceTrackDataRate]).first.empty? %>
      <dt>
        <%= fedora_field_label("descMetadata", [:pbcorePart, :pbcoreInstantiation, :essenceTrack, :essenceTrackDataRate], "Track Data Rate:") %>
      </dt>
      <dd class="description">
        <%= get_values_from_datastream(@document_fedora,"descMetadata", [:pbcorePart, :pbcoreInstantiation, :essenceTrack, :essenceTrackDataRate]) %>
      </dd>
    <% end %>

    <% unless get_values_from_datastream(@document_fedora,"descMetadata", [:pbcorePart, :pbcoreInstantiation, :essenceTrack, :essenceTrackAspectRatio]).first.empty? %>
      <dt>
        <%= fedora_field_label("descMetadata", [:pbcorePart, :pbcoreInstantiation, :essenceTrack, :essenceTrackAspectRatio], "Aspect Ratio:") %>
      </dt>
      <dd class="keyword">
        <%= get_values_from_datastream(@document_fedora,"descMetadata", [:pbcorePart, :pbcoreInstantiation, :essenceTrack, :essenceTrackAspectRatio]) %>
      </dd>
    <% end %>

    <% unless get_values_from_datastream(@document_fedora,"descMetadata", [:pbcorePart, :pbcoreInstantiation, :fileSize]).first.empty? %>
      <dt>
        <%= fedora_field_label("descMetadata", [:pbcorePart, :pbcoreInstantiation, :fileSize], "File Size:") %>
      </dt>
      <dd class="keyword">
        <%= get_values_from_datastream(@document_fedora,"descMetadata", [:pbcorePart, :pbcoreInstantiation, :fileSize]) %>
        <%= get_values_from_datastream(@document_fedora,"descMetadata", [:pbcorePart, :pbcoreInstantiation, :fileSize, :fileSize_unit]) %>
      </dd>
    <% end %>

    <% unless get_values_from_datastream(@document_fedora,"descMetadata", [:pbcorePart, :pbcoreInstantiation, :digital]).first.empty? %>
      <dt>
        <%= fedora_field_label("descMetadata", [:pbcorePart, :pbcoreInstantiation, :digital], "File Format:") %>
      </dt>
      <dd class="keyword">
        <%= get_values_from_datastream(@document_fedora,"descMetadata", [:pbcorePart, :pbcoreInstantiation, :digital]) %>
      </dd>
    <% end %>

    <% unless get_values_from_datastream(@document_fedora,"descMetadata", [:pbcorePart, :pbcoreInstantiation, {:instantiationAnnotation => "0"}, :text]).first.empty? %>
      <dt>
        <%= fedora_field_label("descMetadata", [:pbcorePart, :pbcoreInstantiation, {:instantiationAnnotation => "0"}, :text], "Description:") %>
      </dt>
      <dd class="description">
        <%= get_values_from_datastream(@document_fedora,"descMetadata", [:pbcorePart, :pbcoreInstantiation, {:instantiationAnnotation => "0"}, :text]) %>
      </dd>
    <% end %>

    <% unless get_values_from_datastream(@document_fedora,"descMetadata", [:pbcorePart, :pbcoreInstantiation, {:instantiationAnnotation => "1"}, :text]).first.empty? %>
      <dt>
        <%= fedora_field_label("descMetadata", [:pbcorePart, :pbcoreInstantiation, {:instantiationAnnotation => "1"}, :text], "Retention Schedule:") %>
      </dt>
      <dd class="retention_schedule">
        <%= get_values_from_datastream(@document_fedora,"descMetadata", [:pbcorePart, :pbcoreInstantiation, {:instantiationAnnotation => "1"}, :text]) %>
      </dd>
    <% end %>

    <% unless get_values_from_datastream(@document_fedora,"properties", [:chapter]).first.empty? %>
      <dt>
        <%= fedora_field_label("properties", [:chapter], "Chapter:") %>
      </dt>
      <dd class="chapter">
        <%= get_values_from_datastream(@document_fedora,"properties", [:chapter]) %>
      </dd>
    <% end %>

    </dl>
  </fieldset>
  <fieldset>
    <legend>Files Uploaded</legend>
    <dl>
      <dd>
	<table id="file_assets" class="multipleEdit">
	  <tr>
	    <th>File Name</th>
	    <th>Size</th>
	    <th>Uploaded</th>
	  </tr>
	  
	  <% @document_fedora.file_objects(:response_format=>:solr).each do |result| %>
	  <tr class="file_asset" id=<%= result["id"] %>>
	    <td>
	      <%= link_to result[solr_name("title", :text)], file_asset_path(result["id"]) %>
	    </td>
	    <td>
	      <%= result[solr_name("extent", :text)] %>
	    </td>
	    <td>
	      <% dt = DateTime.parse(result[ solr_name("system_create", :date)] ) %>
	      <%= format_date dt %>
	    </td>
	  </tr>
	  <% end %>		
	</table>	
      </dd>
    </dl>
  </fieldset>
