<%- if current_user -%>
  <ul id="actions">
    <li onclick="javascript:createAssetNavigateTo(this, '<%= url_for(:action => "new", :controller => "events", :content_type => "event") %>');">Add an Event</li>
    <%- if params[:content_type].eql?"event" -%>
      <li onclick="javascript:createAssetNavigateTo(this, '<%= url_for(:action => "new", :controller => "masters", :content_type => "master", :event_id => params[:id]) -%>');">Add Master</li>
    <%- end -%>
    <%- if(params[:content_type].eql?"master") -%>
      <li onclick="javascript:createAssetNavigateTo(this, '<%= url_for(:action => "new", :controller => "masters", :content_type => "master", :event_id => params[:event_id]) -%>');">Add Master</li>
      <li onclick="javascript:createAssetNavigateTo(this, '<%= url_for(:action => "new", :controller => "derivatives", :content_type => "derivative", :event_id => params[:event_id], :master_id => params[:id]) -%>');">Add DVD</li>
    <%- end -%>
    <%- if(params[:content_type].eql?"derivative") -%>
      <li onclick="javascript:createAssetNavigateTo(this, '<%= url_for(:action => "new", :controller => "masters", :content_type => "master", :event_id => params[:event_id]) -%>');">Add Master</li>
      <li onclick="javascript:createAssetNavigateTo(this, '<%= url_for(:action => "new", :controller => "derivatives", :content_type => "derivative", :event_id => params[:event_id], :master_id => params[:master_id]) -%>');">Add DVD</li>
      <li onclick="javascript:createAssetNavigateTo(this, '<%= url_for(:action => "new", :controller => "derivatives", :content_type => "derivative", :event_id => params[:event_id], :master_id => params[:master_id], :id => params[:id], :level => "2") -%>');">Add Derivative</li>
    <%- end -%>
  </ul>
<%- end -%>
