<form id="document_metadata" action="<%= url_for(:action=>"update", :controller=>"events", :content_type=>"event")%>" method="post" data-resourceType="<%= content_type %>" accept-charset="utf-8">
  <fieldset id="work_fields">
    <legend> Event </legend>
    <dl>
      <dt>
        <%= fedora_field_label("descMetadata", [:pbcoreDescriptionDocument, :pbcoreTitle], "Title:") %>
      </dt>
      <dd class="title">
        <%= fedora_text_field(@document_fedora,"descMetadata", [:pbcoreDescriptionDocument, :pbcoreTitle])%>
      </dd>
      <dt>
        <%= fedora_field_label("descMetadata", [:pbcoreDescriptionDocument, :pbcoreIdentifier], "Event ID:") %>
      </dt>
      <dd class="event_id">
        <%= fedora_text_field(@document_fedora,"descMetadata", [:pbcoreDescriptionDocument, :pbcoreIdentifier]) %>
      </dd>
      <dt>
        <%= fedora_field_label("descMetadata", [:pbcoreDescriptionDocument, :pbcoreAssetDate], "Date:") %>
      </dt>
      <dd class="date iso-datepicker">
        <noscript>
          <p class="hint">Use the format: YYYY-MM-DD</p>
        </noscript>
        <%= fedora_text_field(@document_fedora,"descMetadata", [:pbcoreDescriptionDocument, :pbcoreAssetDate]) %>
      </dd>
      <dt>
        <%= fedora_field_label("descMetadata", [:pbcoreDescriptionDocument, :pbcoreDescription], "Description:") %>
      </dt>
      <dd class="description">
        <%= fedora_text_area(@document_fedora,"descMetadata", [:pbcoreDescriptionDocument, :pbcoreDescription]) %>
      </dd>
      <dt>
        <%= fedora_field_label("descMetadata", [:pbcoreDescriptionDocument, :pbcoreSubject], "Keywords:") %>
      </dt>
      <dd class="subject">
        <%= fedora_text_area(@document_fedora,"descMetadata", [:pbcoreDescriptionDocument, :pbcoreSubject]) %>
      </dd>
    </dl>
  </fieldset>
  <fieldset id="creator_fields">
    <legend>People Responsible for event</legend>
    <dl>
    <% num_of_creator = get_values_from_datastream(@document_fedora,"descMetadata", [:pbcoreDescriptionDocument, :pbcoreCreator]).size %>
      <% curr_creator = 0 %>
      <% previous_creator = "" %>
      <% while(curr_creator < num_of_creator)  %>
        <%- if(!(get_values_from_datastream(@document_fedora,"descMetadata", [:pbcoreDescriptionDocument, {:pbcoreCreator => curr_creator}, :creatorRole]).to_s.eql?"producer")) -%>
          <% unless get_values_from_datastream(@document_fedora,"descMetadata", [:pbcoreDescriptionDocument, {:pbcoreCreator => curr_creator}, :creator]).first.empty? %>
            <% unless get_values_from_datastream(@document_fedora,"descMetadata", [:pbcoreDescriptionDocument, {:pbcoreCreator => curr_creator}, :creator]).eql?(previous_creator) %>
              <dt>
                <%= fedora_field_label("descMetadata", [:pbcoreDescriptionDocument, {:pbcoreCreator => curr_creator}, :creator], "Creator:")%>
	      </dt>
              <dd>
                <%= previous_creator = get_values_from_datastream(@document_fedora,"descMetadata", [:pbcoreDescriptionDocument, {:pbcoreCreator => curr_creator}, :creator]) %>
              </dd>
	      <% unless get_values_from_datastream(@document_fedora,"descMetadata", [:pbcoreDescriptionDocument, {:pbcoreCreator => curr_creator}, :creatorRole]).first.empty? %>
                <dt>
                  <%= fedora_field_label("descMetadata", [:pbcoreDescriptionDocument, {:pbcoreCreator => curr_creator}, :creatorRole], "Role:")%>
	        </dt>
                <dd>
                  <%= get_values_from_datastream(@document_fedora,"descMetadata", [:pbcoreDescriptionDocument, {:pbcoreCreator => curr_creator}, :creatorRole]) %>
                </dd>
              <% end %>
            <% end %>
          <% end %>
        <% end %>
        <% curr_creator = curr_creator + 1 %>
      <% end %>
    </dl>
  </fieldset>
  <fieldset id="creator_fields">
    <legend>Production Company</legend>
      <dl>
        <dt>
          <%= fedora_field_label("descMetadata", [:pbcoreDescriptionDocument, :pbcorePart, :pbcoreCreator, :creator], "Company Name:") %>
        </dt>
        <dd class="creator">
          <%= fedora_text_field(@document_fedora,"descMetadata", [:pbcoreDescriptionDocument, :pbcorePart, :pbcoreCreator, :creator]) %>
        </dd>
        <dt>
          <%= fedora_field_label("descMetadata", [:pbcoreDescriptionDocument, :pbcorePart, :pbcoreAnnotation], "Comments:") %>
        </dt>
        <dd class="comments">
          <%= fedora_text_area(@document_fedora,"descMetadata", [:pbcoreDescriptionDocument, :pbcorePart, :pbcoreAnnotation]) %>
        </dd>
        <dt>
        </dt>
        <dd class="copyrights">
          <%= fedora_checkbox(@document_fedora,"descMetadata", [:pbcoreDescriptionDocument, :pbcorePart, {:pbcoreRightsSummary => "0"}, :rightsSummary])%> Contract on File
        </dd>
	<dt>
	  Usage Rights:
	</dt>
	<dd>
	  <%= fedora_select(@document_fedora,"descMetadata", [:pbcoreDescriptionDocument, :pbcorePart, {:pbcoreRightsSummary => "1"}, :rightsSummary], :choices=>{"No Restrictions" => "No Restrictions","For Educational use Only" => "For Educational use Only", "No Access" => "No Access"})%>
	</dd>
      </dl>
  </fieldset>
  <fieldset id="speakers"><%# NOTE that the id 'speakers' is referenced in the events_controller %>
    <legend>Speakers</legend>
      <ul id="speaker-listing">
        <%= render :partial=>"events/edit_release", :collection=>@document_fedora.datastreams_in_memory["descMetadata"].find_by_terms(:pbcoreDescriptionDocument, :pbcoreContributor) %>
      </ul>
      <% if params[:action] == "edit" %>
        <% format = document_partial_name(@document) %>
      <% end %>
      <div id="add-speaker">
        <input id="re-run-action" class="nobutton button" type="button" value="Add A Speaker" onclick=" location.href='<%=url_for(:action => "add", :controller => "events", :content_type => "event", :text_field => "pbcoreDescription_pbcoreContributor", :field_type => "contributor") %>'"/> 
      </div>
      <dl>
        <dt>
          <%= fedora_field_label("descMetadata", [:pbcoreDescriptionDocument, :pbcoreAnnotation], "Comments:") %>
        </dt>
        <dd class="comments">
          <%= fedora_text_area(@document_fedora,"descMetadata", [:pbcoreDescriptionDocument, :pbcoreAnnotation]) %>
        </dd>
        <dt>
        </dt>
        <dd class="copyrights">
          <%= fedora_checkbox(@document_fedora,"descMetadata", [:pbcoreDescriptionDocument, :pbcoreRightsSummary, :rightsSummary])%> Contract on File
        </dd>
      </dl>
  </fieldset>

  <fieldset id="transcripts">
    <legend>Transcript Uploads</legend>
    <dl>
      <dt>Uploaded Transcripts:</dt>
      <dd>
        <%- ds_names = @document_fedora.datastreams.keys -%>
        <ul class="transcripts">
        <%- ds_names.each do |ds_name| -%>
          <%- if ds_name.starts_with?"TRANSCRIPTS" -%>
          <li>
            <%= link_to @document_fedora.datastreams_in_memory[ds_name].label, url_for(:action => "download", :controller => "events", :ds_name => ds_name, :content_type => "event") %>
          </li>
          <%- end -%>
        <%- end -%>
        </ul>
      </dd>
      <dd>
        <div id='uploads' data-pid="<%= params[:id] %>">
          <div id='uploader'>
            <%= render :partial=>"fluid_infusion/uploader" %>
            <%= render :partial=>"fluid_infusion/uploader_generic_content_objects.js" %>
          </div>
        </div>
      </dd>
    </dl>
  </fieldset>
  
</form>
