<form id="document_metadata" action="<%= url_for(:action=>"update", :controller=>"events", :content_type=>"event")%>" method="post" data-resourceType="<%= content_type %>" accept-charset="utf-8">
  <fieldset id="work_fields">
    <legend> Event </legend>
    <dl>
      <dt>
        <%= fedora_field_label("descMetadata", [:pbcoreDescriptionDocument, :pbcoreTitle], "Title:") %>
      </dt>
      <dd class="title">
        <%= fedora_text_field(@document_fedora,"descMetadata", [:pbcoreDescriptionDocument, :pbcoreTitle])%>
      </dd>
      <dt>
        <%= fedora_field_label("descMetadata", [:pbcoreDescriptionDocument, :pbcoreIdentifier], "Event ID:") %>
      </dt>
      <dd class="event_id">
        <%= fedora_text_field(@document_fedora,"descMetadata", [:pbcoreDescriptionDocument, :pbcoreIdentifier]) %>
      </dd>
      <dt>
        <%= fedora_field_label("descMetadata", [:pbcoreDescriptionDocument, :pbcoreAssetDate], "Date:") %>
      </dt>
      <dd class="date iso-datepicker">
        <noscript>
          <p class="hint">Use the format: YYYY-MM-DD</p>
        </noscript>
        <%= fedora_text_field(@document_fedora,"descMetadata", [:pbcoreDescriptionDocument, :pbcoreAssetDate]) %>
      </dd>
      <dt>
        <%= fedora_field_label("descMetadata", [:pbcoreDescriptionDocument, :pbcoreCoverage, :coverage], "Location:") %>
      </dt>
      <dd class="location">
        <%= fedora_text_field(@document_fedora,"descMetadata", [:pbcoreDescriptionDocument, :pbcoreCoverage, :coverage]) %>
      </dd>
      <dt>
        <%= fedora_field_label("descMetadata", [:pbcoreDescriptionDocument, :pbcoreDescription], "Description:") %>
      </dt>
      <dd class="description">
        <%= fedora_text_area(@document_fedora,"descMetadata", [:pbcoreDescriptionDocument, :pbcoreDescription]) %>
      </dd>
      <dt>
        <%= fedora_field_label("descMetadata", [:pbcoreDescriptionDocument, :pbcoreSubject], "Keywords:") %>
      </dt>
      <dd class="subject">
        <%= fedora_text_area(@document_fedora,"descMetadata", [:pbcoreDescriptionDocument, :pbcoreSubject]) %>
      </dd>
    </dl>
  </fieldset>
  <fieldset id="creator_fields">
    <legend>People Responsible for event</legend>
    <dl>
    <% num_of_creator = get_values_from_datastream(@document_fedora,"descMetadata", [:pbcoreDescriptionDocument, :pbcoreCreator]).size %>
      <% curr_creator = 0 %>
      <% previous_creator = "" %>
      <% while(curr_creator < num_of_creator)  %>
        <%- if(!(get_values_from_datastream(@document_fedora,"descMetadata", [:pbcoreDescriptionDocument, {:pbcoreCreator => curr_creator}, :creatorRole]).to_s.eql?"producer")) -%>
          <% unless get_values_from_datastream(@document_fedora,"descMetadata", [:pbcoreDescriptionDocument, {:pbcoreCreator => curr_creator}, :creator]).first.empty? %>
            <% unless get_values_from_datastream(@document_fedora,"descMetadata", [:pbcoreDescriptionDocument, {:pbcoreCreator => curr_creator}, :creator]).eql?(previous_creator) %>
              <dt>
                <%= fedora_field_label("descMetadata", [:pbcoreDescriptionDocument, {:pbcoreCreator => curr_creator}, :creator], "Creator:")%>
	      </dt>
              <dd>
                <%= previous_creator = get_values_from_datastream(@document_fedora,"descMetadata", [:pbcoreDescriptionDocument, {:pbcoreCreator => curr_creator}, :creator]) %>
              </dd>
	      <% unless get_values_from_datastream(@document_fedora,"descMetadata", [:pbcoreDescriptionDocument, {:pbcoreCreator => curr_creator}, :creatorRole]).first.empty? %>
                <dt>
                  <%= fedora_field_label("descMetadata", [:pbcoreDescriptionDocument, {:pbcoreCreator => curr_creator}, :creatorRole], "Role:")%>
	        </dt>
                <dd>
                  <%= get_values_from_datastream(@document_fedora,"descMetadata", [:pbcoreDescriptionDocument, {:pbcoreCreator => curr_creator}, :creatorRole]) %>
                </dd>
              <% end %>
            <% end %>
          <% end %>
        <% end %>
        <% curr_creator = curr_creator + 1 %>
      <% end %>
    </dl>
  </fieldset>
  <fieldset id="creator_fields">
    <legend>Production Company</legend>
      <dl>
        <dt>
          <%= fedora_field_label("descMetadata", [:pbcoreDescriptionDocument, {:pbcorePart => "0"}, :pbcoreCreator, :creator], "Company Name:") %>
        </dt>
        <dd class="creator">
          <%= fedora_text_field(@document_fedora,"descMetadata", [:pbcoreDescriptionDocument, {:pbcorePart => "0"}, :pbcoreCreator, :creator]) %>
        </dd>
	<dt>
          <%= fedora_field_label("descMetadata", [:pbcoreDescriptionDocument, {:pbcorePart => "0"}, :pbcoreDescription], "Production Notes:") %>
        </dt>
        <dd class="production_notes">
          <%= fedora_text_area(@document_fedora,"descMetadata", [:pbcoreDescriptionDocument, {:pbcorePart => "0"}, :pbcoreDescription]) %>
        </dd>
        <dt>
          <%= fedora_field_label("descMetadata", [:pbcoreDescriptionDocument, {:pbcorePart => "0"}, :pbcoreAnnotation], "Comments:") %>
        </dt>
        <dd class="comments">
          <%= fedora_text_area(@document_fedora,"descMetadata", [:pbcoreDescriptionDocument, {:pbcorePart => "0"}, :pbcoreAnnotation]) %>
        </dd>
        <dt>
        </dt>
        <dd class="copyrights">
          <%= fedora_checkbox(@document_fedora,"descMetadata", [:pbcoreDescriptionDocument, :pbcorePart, {:pbcoreRightsSummary => "0"}, :rightsSummary])%> Contract on file
        </dd>
	<dt>
	  Usage Rights:
	</dt>
	<dd>
	 <%= fedora_select(@document_fedora,"descMetadata", [:pbcoreDescriptionDocument, :pbcorePart, {:pbcoreRightsSummary => "1"}, :rightsSummary], :choices=>["No Restrictions","For Educational use Only", "No Access"])%>
	</dd>
      </dl>
  </fieldset>
  <fieldset id="speakers"><%# NOTE that the id 'speakers' is referenced in the events_controller %>
    <legend>Speakers</legend>
      <ul id="speaker-listing">
        <%= render :partial=>"events/edit_release", :collection=>@document_fedora.datastreams_in_memory["descMetadata"].find_by_terms(:pbcoreDescriptionDocument, :pbcorePart) %>
      </ul>
      <% if params[:action] == "edit" %>
        <% format = document_partial_name(@document) %>
      <% end %>
      <div id="add-speaker">
        <input id="re-run-action" class="nobutton button" type="button" value="Add A Speaker" onclick=" location.href='<%=url_for(:action => "add", :controller => "events", :content_type => "event", :text_field => "pbcoreDescription_pbcorePart", :field_type => "contributor") %>'"/> 
      </div>
  </fieldset>

  <fieldset id="files">
    <legend>Files (Transcripts, Press Releases, Program, etc.)</legend>
    <dl>
      <dd>
        <div id="uploads" data-pid=<%= params[:id] %>></div>
        <%= async_load_tag(asset_file_assets_path(params[:id], :layout=>"false"), 'uploads') %>
      </dd>
    </dl>
  </fieldset>
</form>
<h2 class="section-title"><a href="#">Links</a></h2>
<%= render :partial => "redirected_assets/edit", :locals => { :content_type => "event"} %>

