<form id="document_metadata" action="<%= url_for(:action=>"update", :controller=>"events", :content_type=>"event")%>" method="post" data-resourceType="<%= content_type %>" accept-charset="utf-8">
  <fieldset id="work_fields">
    <legend> Event </legend>
    <dl>
      <dt>
        <%= fedora_field_label("descMetadata", [:pbcoreDescriptionDocument, :pbcoreTitle], "Title:") %>
      </dt>
      <dd class="title">
        <%= fedora_text_field(@document_fedora,"descMetadata", [:pbcoreDescriptionDocument, :pbcoreTitle])%>
      </dd>
      <dt>
        <%= fedora_field_label("descMetadata", [:pbcoreDescriptionDocument, :pbcoreIdentifier], "Event ID:") %>
      </dt>
      <dd class="event_id">
        <%= fedora_text_field(@document_fedora,"descMetadata", [:pbcoreDescriptionDocument, :pbcoreIdentifier]) %>
      </dd>
      <dt>
        <%= fedora_field_label("descMetadata", [:pbcoreDescriptionDocument, :pbcoreAssetDate], "Date:") %>
      </dt>
      <dd >
        <%= fedora_date_select(@document_fedora,"descMetadata", [:pbcoreDescriptionDocument, :pbcoreAssetDate]) %>
      </dd>
      <fieldset>
        <legend>Location</legend>
        <dt>
	  <%= fedora_field_label("properties", [:country], "Country:") %>
        </dt>
        <dd>
	  <%= fedora_select(@document_fedora,"properties", [:country], :choices=>@document_fedora.countries) %>
        </dd>
	<dt>
	  <%= fedora_field_label("properties", [:state], "State:") %>
        </dt>
        <dd>
	  <%= fedora_text_field(@document_fedora,"properties", [:state]) %>
        </dd>
	<dt>
	  <%= fedora_field_label("properties", [:city], "City:") %>
        </dt>
        <dd>
	  <%= fedora_text_field(@document_fedora,"properties", [:city]) %>
        </dd>
	<dt>
	  <%= fedora_field_label("properties", [:venue], "Venue:") %>
        </dt>
        <dd>
	  <%= fedora_text_field(@document_fedora,"properties", [:venue]) %>
        </dd>
      </fieldset>
      <dt>
        <%= fedora_field_label("descMetadata", [:pbcoreDescriptionDocument, :pbcoreDescription], "Description:") %>
      </dt>
      <dd class="description">
        <%= fedora_text_area(@document_fedora,"descMetadata", [:pbcoreDescriptionDocument, :pbcoreDescription]) %>
      </dd>
      <dt>
        <%= fedora_field_label("descMetadata", [:pbcoreDescriptionDocument, :pbcoreSubject], "Keywords:") %>
      </dt>
      <dd class="subject">
        <%= fedora_text_area(@document_fedora,"descMetadata", [:pbcoreDescriptionDocument, :pbcoreSubject]) %>
      </dd>
      <%- if can? :edit_archive_event, EventWorkflow -%>
        <%=render :partial=>'events/edit_archive_fields'%>
      <%- else -%>
        <%=render :partial=>'events/show_archive_fields'%>
      <%-end -%>
    </dl>
  </fieldset>
  <fieldset id="creator_fields">
    <legend>People Responsible for event</legend>
    <dl>
      <dt>
	<%= fedora_field_label("properties", [:owner], "Owner:") %>
      </dt>
      <dd>
        <%- owner_group_names = [""] | Group.owner_group_names -%>
        <%- cur_val = get_values_from_datastream(@document_fedora,"properties", [:owner]) -%>
        <%- unless cur_val.empty? || owner_group_names.include?(cur_val.first) -%> 
          <% owner_group_names << cur_val %>
        <%- end -%>
        <%= fedora_select(@document_fedora,"properties", [:owner], :choices=>owner_group_names) %>
      </dd>
    <% num_of_creator = get_values_from_datastream(@document_fedora,"descMetadata", [:pbcoreDescriptionDocument, :pbcoreCreator]).size %>
      <% curr_creator = 0 %>
      <% previous_creator = "" %>
      <% while(curr_creator < num_of_creator)  %>
        <%- if(!(get_values_from_datastream(@document_fedora,"descMetadata", [:pbcoreDescriptionDocument, {:pbcoreCreator => curr_creator}, :creatorRole]).to_s.eql?"producer")) -%>
          <% unless get_values_from_datastream(@document_fedora,"descMetadata", [:pbcoreDescriptionDocument, {:pbcoreCreator => curr_creator}, :creator]).first.empty? %>
            <% unless get_values_from_datastream(@document_fedora,"descMetadata", [:pbcoreDescriptionDocument, {:pbcoreCreator => curr_creator}, :creator]).eql?(previous_creator) %>
              <dt>
                <%= fedora_field_label("descMetadata", [:pbcoreDescriptionDocument, {:pbcoreCreator => curr_creator}, :creator], "Creator:")%>
	      </dt>
              <dd>
                <%= previous_creator = get_values_from_datastream(@document_fedora,"descMetadata", [:pbcoreDescriptionDocument, {:pbcoreCreator => curr_creator}, :creator]) %>
              </dd>
	      <% unless get_values_from_datastream(@document_fedora,"descMetadata", [:pbcoreDescriptionDocument, {:pbcoreCreator => curr_creator}, :creatorRole]).first.empty? %>
                <dt>
                  <%= fedora_field_label("descMetadata", [:pbcoreDescriptionDocument, {:pbcoreCreator => curr_creator}, :creatorRole], "Role:")%>
	        </dt>
                <dd>
                  <%= get_values_from_datastream(@document_fedora,"descMetadata", [:pbcoreDescriptionDocument, {:pbcoreCreator => curr_creator}, :creatorRole]) %>
                </dd>
              <% end %>
            <% end %>
          <% end %>
        <% end %>
        <% curr_creator = curr_creator + 1 %>
      <% end %>
    </dl>
  </fieldset>
  <fieldset id="creator_fields">
    <legend>Production Company</legend>
      <dl>
        <dt>
          <%= fedora_field_label("descMetadata", [:pbcoreDescriptionDocument, {:pbcorePart => "0"}, :pbcoreCreator, :creator], "Company Name:") %>
        </dt>
        <dd class="creator">
          <%= fedora_text_field(@document_fedora,"descMetadata", [:pbcoreDescriptionDocument, {:pbcorePart => "0"}, :pbcoreCreator, :creator]) %>
        </dd>
	<dt>
          <%= fedora_field_label("descMetadata", [:pbcoreDescriptionDocument, {:pbcorePart => "0"}, :pbcoreDescription], "Production Notes:") %>
        </dt>
        <dd class="production_notes">
          <%= fedora_text_area(@document_fedora,"descMetadata", [:pbcoreDescriptionDocument, {:pbcorePart => "0"}, :pbcoreDescription]) %>
        </dd>
        <dt>
          <%= fedora_field_label("descMetadata", [:pbcoreDescriptionDocument, {:pbcorePart => "0"}, :pbcoreAnnotation], "Comments:") %>
        </dt>
        <dd class="comments">
          <%= fedora_text_area(@document_fedora,"descMetadata", [:pbcoreDescriptionDocument, {:pbcorePart => "0"}, :pbcoreAnnotation]) %>
        </dd>
        <dt>
        </dt>
        <dd class="copyrights">
          <%= fedora_checkbox(@document_fedora,"descMetadata", [:pbcoreDescriptionDocument, :pbcorePart, {:pbcoreRightsSummary => "0"}, :rightsSummary])%> Contract on file
        </dd>
	<dt>
	  Usage Rights:
	</dt>
	<dd>
	 <%= fedora_select(@document_fedora,"descMetadata", [:pbcoreDescriptionDocument, :pbcorePart, {:pbcoreRightsSummary => "1"}, :rightsSummary], :choices=>["","No Restrictions","For Educational use Only", "No Access"])%>
	</dd>
      </dl>
  </fieldset>
  <fieldset id="speakers"><%# NOTE that the id 'speakers' is referenced in the events_controller %>
    <legend>Speakers</legend>
      <ul id="speaker-listing">
        <%= render :partial=>"events/edit_release", :collection=>@document_fedora.datastreams_in_memory["descMetadata"].find_by_terms(:pbcoreDescriptionDocument, :pbcorePart) %>
      </ul>
      <% if params[:action] == "edit" %>
        <% format = document_partial_name(@document) %>
      <% end %>
      <div id="add-speaker">
        <input id="re-run-action" class="nobutton button" type="button" value="Add A Speaker" onclick=" location.href='<%=url_for(:action => "add", :controller => "events", :content_type => "event", :text_field => "pbcoreDescriptionDocument_pbcorePart", :field_type => "contributor") %>'"/> 
      </div>
  </fieldset>
  <fieldset id="links">
    <legend>Links</legend>
      <ul id="speaker-listing">
        <%= render :partial=>"events/edit_assetlink", :collection=>@document_fedora.datastreams_in_memory["descMetadata"].find_by_terms(:pbcoreDescriptionDocument, :pbcorePart) %>
      </ul>
      <% if params[:action] == "edit" %>
        <% format = document_partial_name(@document) %>
      <% end %>
      <div id="add-speaker">
        <input id="re-run-action" class="nobutton button" type="button" value="Add A Link" onclick=" location.href='<%=url_for(:action => "add", :controller => "events", :content_type => "event", :text_field => "pbcoreDescriptionDocument_pbcorePart", :field_type => "assetlink") %>'"/> 
      </div>
  </fieldset>

  <fieldset id="files">
    <legend>Files (Transcripts, Press Releases, Program, etc.)</legend>
    <dl>
      <dd>
        <div id="uploads" data-pid=<%= params[:id] %>></div>
        <%= async_load_tag(asset_file_assets_path(params[:id], :layout=>"false"), 'uploads') %>
      </dd>
      <dd>
        <input type="radio" name="file_radio" id="link_file_radio" VALUE="link_to_file">&nbsp;&nbsp;Link to File&nbsp;&nbsp;
        <input type="radio" name="file_radio" id="upload_file_radio" VALUE="upload_file" CHECKED>&nbsp;&nbsp;Upload a File&nbsp;&nbsp;
      </dd>
    </dl>
  </fieldset>
</form>

<%- if @document_fedora.state_events.any? -%>
  <%- @document_fedora.state_events.each do |state_event| -%>
    <%- form_for @document_fedora, :url => trigger_event_path(@document_fedora), :html => { :class => 'state-transition' } do |f| -%>
      <fieldset>
        <legend>Notify <%=state_event.to_s.humanize.titleize%></legend>
        <%= f.error_messages %>
        <%= f.hidden_field :events_to_fire, :value => state_event -%>
        <dl>
          <dt><%= f.label :submit_notes %></dt>
          <dd><%= f.text_area :state_transition_comments -%></dd>
        </dl>
        <%= f.submit state_event.to_s.humanize.titleize, :class=> 'button' %>
      </fieldset>
    <%- end -%>
  <%- end -%>
<%- end -%>
