<form id="document_metadata" action="<%= url_for(:action=>"update", :controller=>"events", :content_type=>"event")%>" method="post" data-resourceType="<%= content_type %>" accept-charset="utf-8">
  <fieldset id="work_fields">
    <legend> Event </legend>
    <dl>
      <dt>
        <%= fedora_field_label("descMetadata", [:pbcoreDescriptionDocument, :pbcoreTitle], "Title:") %>
      </dt>
      <dd class="title">
        <%= fedora_text_field(@document_fedora,"descMetadata", [:pbcoreDescriptionDocument, :pbcoreTitle])%>
      </dd>
      <dt>
        <%= fedora_field_label("descMetadata", [:pbcoreDescriptionDocument, :pbcoreIdentifier], "Event ID:") %>
      </dt>
      <dd class="event_id">
        <%= fedora_text_field(@document_fedora,"descMetadata", [:pbcoreDescriptionDocument, :pbcoreIdentifier]) %>
      </dd>
      <dt>
        <%= fedora_field_label("descMetadata", [:pbcoreDescriptionDocument, :pbcoreAssetDate], "Date:") %>
      </dt>
      <dd class="date">
        <%= fedora_text_field(@document_fedora,"descMetadata", [:pbcoreDescriptionDocument, :pbcoreAssetDate]) %>
      </dd>
      <dt>
        <%= fedora_field_label("descMetadata", [:pbcoreDescriptionDocument, :pbcoreDescription], "Description:") %>
      </dt>
      <dd class="description">
        <%= fedora_text_area(@document_fedora,"descMetadata", [:pbcoreDescriptionDocument, :pbcoreDescription]) %>
      </dd>
      <dt>
        <%= fedora_field_label("descMetadata", [:pbcoreDescriptionDocument, :pbcoreSubject], "Keywords:") %>
      </dt>
      <dd class="subject">
        <%= fedora_text_area(@document_fedora,"descMetadata", [:pbcoreDescriptionDocument, :pbcoreSubject]) %>
      </dd>
    </dl>
  </fieldset>
  <fieldset>
    <legend>Usage Rights / Permissions</legend>
    <dl>
      <dt>
        <%= fedora_field_label("descMetadata", [:pbcoreDescriptionDocument, {:pbcoreRightsSummary => "1"}, :rightsSummary], "Rights Summary:") %>
      </dt>
      <dd class="urp_rights_summary">
        <%= fedora_text_field(@document_fedora,"descMetadata", [:pbcoreDescriptionDocument, {:pbcoreRightsSummary => "1"}, :rightsSummary]) %>
      </dd>
      <dt>
        <%= fedora_field_label("descMetadata", [:pbcoreDescriptionDocument, {:pbcoreRightsSummary => "1"}, :rightsLink], "Rights Link:") %>
      </dt>
      <dd class="urp_rights_link">
        <%= fedora_text_field(@document_fedora,"descMetadata", [:pbcoreDescriptionDocument, {:pbcoreRightsSummary => "1"}, :rightsLink]) %>
      </dd>
      <dt>
        <%= fedora_field_label("descMetadata", [:pbcoreDescriptionDocument, {:pbcoreRightsSummary => "1"}, :rightsEmbedded], "Rights Embedded:") %>
      </dt>
      <dd class="urp_rights_embedded">
        <%= fedora_text_field(@document_fedora,"descMetadata", [:pbcoreDescriptionDocument, {:pbcoreRightsSummary => "1"}, :rightsEmbedded]) %>
      </dd>
    </dl>
  </fieldset>
  <fieldset id="creator_fields">
    <legend>People Responsible for event</legend>
        <%= render :partial=>"events/edit_creator", :collection=>@document_fedora.datastreams_in_memory["descMetadata"].find_by_terms(:pbcoreDescriptionDocument, :pbcoreCreator, :creator) %>
  </fieldset>
  <fieldset id="part_fields">
    <legend>Release or Contract Details</legend>
        <%= render :partial=>"events/edit_release", :collection=>@document_fedora.datastreams_in_memory["descMetadata"].find_by_terms(:pbcoreDescriptionDocument, :pbcorePart) %>
      <% if params[:action] == "edit" %>
        <% format = document_partial_name(@document) %>
      <% end %>
      <div id="add-image-box">
        <input id="re-run-action" class="nobutton" type="button" value="Add Release/Contract details" onclick=" location.href='<%=url_for(:action => "add", :controller => "events", :content_type => "event", :text_field => "pbcoreDescription_pbcorePart", :field_type => "part") %>'"/> 
      </div>
  </fieldset>
  <fieldset>
    <legend>Copyright Notice</legend>
    <dl>
      <input class="update_description_display" type="hidden" name="description display" action="<%= events_path(params[:id],:content_type=>content_type)%>"/>
      <dt>
	<%= fedora_field_label("properties", [:review], "Select Copyright:") %>
      </dt>
      <dd class="display">
	<%= fedora_radio_button(@document_fedora,"descMetadata", [:pbcoreDescriptionDocument, {:pbcoreRightsSummary => "0"}, :rightsSummary], :choices=>{"copyright_a" => "Copyright A &nbsp;","copyright_b" => "Copyright B &nbsp;", "copyright_c" => "Copyright C &nbsp;", "copyright_d" => "Copyright D"})%>
      </dd>
      <dt>
	Uploaded Files:
      </dt>
      <dd>
        <% ds_names = @document_fedora.datastreams.keys %>
        <%- ds_names.each do |ds_name| -%>
          <%- if ds_name.starts_with?"COPYRIGHTS" -%>
  	    <%= link_to @document_fedora.datastreams_in_memory[ds_name].label, url_for(:action => "download", :controller => "events", :ds_name => ds_name, :content_type => "event") %><br/>
          <%- end -%>
        <%- end -%>
      </dd>
      <dt></dt>
      <dd>
	Supports file size less than 20 MB
        <div id="uploads" data-pid="<%= params[:id] %>">
          <div id='uploader'>
            <%= render :partial=>"fluid_infusion/uploader" %>
            <%= render :partial=>"fluid_infusion/uploader_generic_content_objects.js" %>	
          </div>
        </div>
      </dd>
    </dl>
  </fieldset>
</form>

