<form id="document_metadata" action="<%= url_for(:action=>"update", :controller=>"events", :content_type=>"event")%>" method="post" data-resourceType="event" accept-charset="utf-8">
  <fieldset id="work_fields">
    <legend>Description</legend>
    <dl>	
    <% unless get_values_from_datastream(@document_fedora,"descMetadata", [:pbcoreDescriptionDocument, :pbcoreTitle]).first.empty? %>
      <dt>
        <%= fedora_field_label("descMetadata", [:pbcoreDescriptionDocument, :pbcoreTitle], "Title:") %>
      </dt>
      <dd class="title">
        <%= get_values_from_datastream(@document_fedora,"descMetadata", [:pbcoreDescriptionDocument, :pbcoreTitle]) %>
      </dd>
    <% end %>

    <% unless get_values_from_datastream(@document_fedora,"descMetadata", [:pbcoreDescriptionDocument, :pbcoreIdentifier]).first.empty? %>
      <dt>
        <%= fedora_field_label("descMetadata", [:pbcoreDescriptionDocument, :pbcoreIdentifier], "Event ID:") %>
      </dt>
      <dd class="event_id">
        <%= get_values_from_datastream(@document_fedora,"descMetadata", [:pbcoreDescriptionDocument, :pbcoreIdentifier]) %>
      </dd>
    <% end %>

    <% unless get_values_from_datastream(@document_fedora,"descMetadata", [:pbcoreDescriptionDocument, :pbcoreAssetDate]).first.empty? %>
      <dt>
        <%= fedora_field_label("descMetadata", [:pbcoreDescriptionDocument, :pbcoreAssetDate], "Date:") %>
      </dt>
      <dd class="date">
        <%= get_values_from_datastream(@document_fedora,"descMetadata", [:pbcoreDescriptionDocument, :pbcoreAssetDate]) %>
      </dd>
    <% end %>

    <% unless get_values_from_datastream(@document_fedora,"descMetadata", [:pbcoreDescriptionDocument, :pbcoreDescription]).first.empty? %>
      <dt>
        <%= fedora_field_label("descMetadata", [:pbcoreDescriptionDocument, :pbcoreDescription], "Description:") %>
      </dt>
      <dd class="description">
        <%= get_values_from_datastream(@document_fedora,"descMetadata", [:pbcoreDescriptionDocument, :pbcoreDescription]) %>
      </dd>
    <% end %>

    <% unless get_values_from_datastream(@document_fedora,"descMetadata", [:pbcoreDescriptionDocument, :pbcoreSubject]).first.empty? %>
      <dt>
        <%= fedora_field_label("descMetadata", [:pbcoreDescriptionDocument, :pbcoreSubject], "Keyword:") %>
      </dt>
      <dd class="keyword">
        <%= get_values_from_datastream(@document_fedora,"descMetadata", [:pbcoreDescriptionDocument, :pbcoreSubject]) %>
      </dd>
    <% end %>
    </dl>
  </fieldset>
  <fieldset>
    <legend>People Responsible for Event</legend>
    <dl>
      <% num_of_creator = get_values_from_datastream(@document_fedora,"descMetadata", [:pbcoreDescriptionDocument, :pbcoreCreator]).size %>
      <% curr_creator = 0 %>
      <% while(curr_creator < num_of_creator)  %>
        <%- if(!(get_values_from_datastream(@document_fedora,"descMetadata", [:pbcoreDescriptionDocument, {:pbcoreCreator => curr_creator}, :creatorRole]).to_s.eql?"producer")) -%>
          <% unless get_values_from_datastream(@document_fedora,"descMetadata", [:pbcoreDescriptionDocument, {:pbcoreCreator => curr_creator}, :creator]).first.empty? %>
            <dt>
              <%= fedora_field_label("descMetadata", [:pbcoreDescriptionDocument, {:pbcoreCreator => curr_creator}, :creator], "Name:")%>
	    </dt>
            <dd>
              <%= get_values_from_datastream(@document_fedora,"descMetadata", [:pbcoreDescriptionDocument, {:pbcoreCreator => curr_creator}, :creator]) %>
            </dd>
            <dt>
              <%= fedora_field_label("descMetadata", [:pbcoreDescriptionDocument, {:pbcoreCreator => curr_creator}, :creatorRole], "Role:")%>
	    </dt>
            <dd>
              <%= get_values_from_datastream(@document_fedora,"descMetadata", [:pbcoreDescriptionDocument, {:pbcoreCreator => curr_creator}, :creatorRole]) %>
            </dd>
          <% end %>
        <% end %>
        <% curr_creator = curr_creator + 1 %>
      <% end %>
    </dl>
  </fieldset>
  <fieldset>
    <legend>Production Company</legend>
    <dl>
      <% unless get_values_from_datastream(@document_fedora,"descMetadata", [:pbcoreDescriptionDocument, :pbcorePart, :pbcoreCreator, :creator]).first.empty? %>
        <dt>
          <%= fedora_field_label("descMetadata", [:pbcoreDescriptionDocument, :pbcorePart, :pbcoreCreator, :creator], "Name of the Company:")%>
	</dt>
        <dd>
          <%= get_values_from_datastream(@document_fedora,"descMetadata", [:pbcoreDescriptionDocument, :pbcorePart, :pbcoreCreator, :creator]) %>
        </dd>
      <% end %>
      <% unless get_values_from_datastream(@document_fedora,"descMetadata", [:pbcoreDescriptionDocument, :pbcorePart, :pbcoreAnnotation]).first.empty? %>
        <dt>
          <%= fedora_field_label("descMetadata", [:pbcoreDescriptionDocument, :pbcorePart, :pbcoreAnnotation], "Comments:")%>
	</dt>
        <dd>
          <%= get_values_from_datastream(@document_fedora,"descMetadata", [:pbcoreDescriptionDocument, :pbcorePart, :pbcoreAnnotation]) %>
        </dd>
      <% end %>
      <% unless get_values_from_datastream(@document_fedora,"descMetadata", [:pbcoreDescriptionDocument, :pbcorePart, {:pbcoreRightsSummary => "0"}, :rightsSummary]).first.empty? %>
        <dt>
          <%= fedora_field_label("descMetadata", [:pbcoreDescriptionDocument, :pbcorePart, {:pbcoreRightsSummary => "0"}, :rightsSummary], "Contract on File:")%>
	</dt>
        <dd>
          <%= get_values_from_datastream(@document_fedora,"descMetadata", [:pbcoreDescriptionDocument, :pbcorePart, {:pbcoreRightsSummary => "0"}, :rightsSummary]) %>
        </dd>
      <% end %>
      <% unless get_values_from_datastream(@document_fedora,"descMetadata", [:pbcoreDescriptionDocument, :pbcorePart, {:pbcoreRightsSummary => "1"}, :rightsSummary]).first.empty? %>
        <dt>
          <%= fedora_field_label("descMetadata", [:pbcoreDescriptionDocument, :pbcorePart, {:pbcoreRightsSummary => "1"}, :rightsSummary], "Usage Rights:")%>
	</dt>
        <dd>
          <%= get_values_from_datastream(@document_fedora,"descMetadata", [:pbcoreDescriptionDocument, :pbcorePart, {:pbcoreRightsSummary => "1"}, :rightsSummary]) %>
        </dd>
      <% end %>
    </dl>
  </fieldset>
  <fieldset>
    <legend>Speakers</legend>
    <dl>
      <% num_of_part = get_values_from_datastream(@document_fedora,"descMetadata", [:pbcoreDescriptionDocument, :pbcoreContributor]).size %>
      <% curr_part = 0 %>
      <% while(curr_part < num_of_part)  %>
        <% unless get_values_from_datastream(@document_fedora,"descMetadata", [:pbcoreDescriptionDocument, {:pbcoreContributor => curr_part}, :contributor]).first.empty? %>
	  <dt>
            <%= fedora_field_label("descMetadata", [:pbcoreDescriptionDocument, {:pbcorePart => curr_part}, :pbcoreContributor, :contributor], "Speaker Name:")%>
	  </dt>
          <dd>
            <%= get_values_from_datastream(@document_fedora,"descMetadata", [:pbcoreDescriptionDocument, {:pbcoreContributor => curr_part}, :contributor]) %>
          </dd>
        <% end %>
        <% curr_part = curr_part + 1 %>
      <% end %>
      <% unless get_values_from_datastream(@document_fedora,"descMetadata", [:pbcoreDescriptionDocument, :pbcoreAnnotation]).first.empty? %>
        <dt>
          <%= fedora_field_label("descMetadata", [:pbcoreDescriptionDocument, :pbcoreAnnotation], "Comments:")%>
	</dt>
        <dd>
          <%= get_values_from_datastream(@document_fedora,"descMetadata", [:pbcoreDescriptionDocument, :pbcoreAnnotation]) %>
        </dd>
      <% end %>
      <% unless get_values_from_datastream(@document_fedora,"descMetadata", [:pbcoreDescriptionDocument, :pbcoreRightsSummary, :rightsSummary]).first.empty? %>
        <dt>
          <%= fedora_field_label("descMetadata", [:pbcoreDescriptionDocument, :pbcoreRightsSummary, :rightsSummary], "Contract on File:")%>
	</dt>
        <dd>
          <%= get_values_from_datastream(@document_fedora,"descMetadata", [:pbcoreDescriptionDocument, :pbcoreRightsSummary, :rightsSummary]) %>
        </dd>
      <% end %>
    </dl>
  </fieldset>
  <fieldset>
    <legend>Files Uploaded</legend>
    <dl>
      <dt>
	Uploaded Transcripts:
      </dt>
      <dd>
      <% ds_names = @document_fedora.datastreams.keys %>
        <%- ds_names.each do |ds_name| -%>
          <%- if ds_name.starts_with?"TRANSCRIPTS" -%>
  	    <%= @document_fedora.datastreams_in_memory[ds_name].label %><br/>
          <%- end -%>
        <%- end -%>
      </dd>
      <dt>
	Uploaded Files:
      </dt>
      <dd>
      <% ds_names = @document_fedora.datastreams.keys %>
        <%- ds_names.each do |ds_name| -%>
          <%- if ds_name.starts_with?"DS" -%>
  	    <%= @document_fedora.datastreams_in_memory[ds_name].label %><br/>
          <%- end -%>
        <%- end -%>
      </dd>
    </dl>
  </fieldset>
</form>
