<form id="document_metadata" action="<%= url_for(:action=>"update", :controller=>"events", :content_type=>"event")%>" method="post" data-resourceType="event" accept-charset="utf-8">
  <fieldset id="work_fields">
    <legend>Description</legend>
    <dl>	
    <% unless get_values_from_datastream(@document_fedora,"descMetadata", [:pbcoreDescriptionDocument, :pbcoreTitle]).first.empty? %>
      <dt>
        <%= fedora_field_label("descMetadata", [:pbcoreDescriptionDocument, :pbcoreTitle], "Title:") %>
      </dt>
      <dd class="title">
        <%= get_values_from_datastream(@document_fedora,"descMetadata", [:pbcoreDescriptionDocument, :pbcoreTitle]) %>
      </dd>
    <% end %>

    <% unless get_values_from_datastream(@document_fedora,"descMetadata", [:pbcoreDescriptionDocument, :pbcoreIdentifier]).first.empty? %>
      <dt>
        <%= fedora_field_label("descMetadata", [:pbcoreDescriptionDocument, :pbcoreIdentifier], "Event ID:") %>
      </dt>
      <dd class="event_id">
        <%= get_values_from_datastream(@document_fedora,"descMetadata", [:pbcoreDescriptionDocument, :pbcoreIdentifier]) %>
      </dd>
    <% end %>

    <% unless get_values_from_datastream(@document_fedora,"descMetadata", [:pbcoreDescriptionDocument, :pbcoreAssetDate]).first.empty? %>
      <dt>
        <%= fedora_field_label("descMetadata", [:pbcoreDescriptionDocument, :pbcoreAssetDate], "Date:") %>
      </dt>
      <dd class="date">
        <%= get_values_from_datastream(@document_fedora,"descMetadata", [:pbcoreDescriptionDocument, :pbcoreAssetDate]) %>
      </dd>
    <% end %>

    <% unless get_values_from_datastream(@document_fedora,"descMetadata", [:pbcoreDescriptionDocument, :pbcoreCoverage, :coverage]).first.empty? %>
      <dt>
        <%= fedora_field_label("descMetadata", [:pbcoreDescriptionDocument, :pbcoreCoverage, :coverage], "Location:") %>
      </dt>
      <dd class="location">
        <%= get_values_from_datastream(@document_fedora,"descMetadata", [:pbcoreDescriptionDocument, :pbcoreCoverage, :coverage]) %>
      </dd>
    <% end %>

    <% unless get_values_from_datastream(@document_fedora,"descMetadata", [:pbcoreDescriptionDocument, :pbcoreDescription]).first.empty? %>
      <dt>
        <%= fedora_field_label("descMetadata", [:pbcoreDescriptionDocument, :pbcoreDescription], "Description:") %>
      </dt>
      <dd class="description">
        <%= get_values_from_datastream(@document_fedora,"descMetadata", [:pbcoreDescriptionDocument, :pbcoreDescription]) %>
      </dd>
    <% end %>

    <% unless get_values_from_datastream(@document_fedora,"descMetadata", [:pbcoreDescriptionDocument, :pbcoreSubject]).first.empty? %>
      <dt>
        <%= fedora_field_label("descMetadata", [:pbcoreDescriptionDocument, :pbcoreSubject], "Keyword:") %>
      </dt>
      <dd class="keyword">
        <%= get_values_from_datastream(@document_fedora,"descMetadata", [:pbcoreDescriptionDocument, :pbcoreSubject]) %>
      </dd>
    <% end %>
    </dl>
  </fieldset>
  <fieldset>
    <legend>People Responsible for Event</legend>
    <dl>
    <% num_of_creator = get_values_from_datastream(@document_fedora,"descMetadata", [:pbcoreDescriptionDocument, :pbcoreCreator]).size %>
      <% curr_creator = 0 %>
      <% previous_creator = "" %>
      <% while(curr_creator < num_of_creator)  %>
        <%- if(!(get_values_from_datastream(@document_fedora,"descMetadata", [:pbcoreDescriptionDocument, {:pbcoreCreator => curr_creator}, :creatorRole]).to_s.eql?"producer")) -%>
          <% unless get_values_from_datastream(@document_fedora,"descMetadata", [:pbcoreDescriptionDocument, {:pbcoreCreator => curr_creator}, :creator]).first.empty? %>
            <% unless get_values_from_datastream(@document_fedora,"descMetadata", [:pbcoreDescriptionDocument, {:pbcoreCreator => curr_creator}, :creator]).eql?(previous_creator) %>
              <dt>
                <%= fedora_field_label("descMetadata", [:pbcoreDescriptionDocument, {:pbcoreCreator => curr_creator}, :creator], "Creator:")%>
	      </dt>
              <dd>
                <%= previous_creator = get_values_from_datastream(@document_fedora,"descMetadata", [:pbcoreDescriptionDocument, {:pbcoreCreator => curr_creator}, :creator]) %>
              </dd>
	      <% unless get_values_from_datastream(@document_fedora,"descMetadata", [:pbcoreDescriptionDocument, {:pbcoreCreator => curr_creator}, :creatorRole]).first.empty? %>
                <dt>
                  <%= fedora_field_label("descMetadata", [:pbcoreDescriptionDocument, {:pbcoreCreator => curr_creator}, :creatorRole], "Role:")%>
	        </dt>
                <dd>
                  <%= get_values_from_datastream(@document_fedora,"descMetadata", [:pbcoreDescriptionDocument, {:pbcoreCreator => curr_creator}, :creatorRole]) %>
                </dd>
              <% end %>
            <% end %>
          <% end %>
        <% end %>
        <% curr_creator = curr_creator + 1 %>
      <% end %>
    </dl>
  </fieldset>
  <fieldset>
    <legend>Production Company</legend>
    <dl>
      <% unless get_values_from_datastream(@document_fedora,"descMetadata", [:pbcoreDescriptionDocument, {:pbcorePart => "0"}, :pbcoreCreator, :creator]).first.empty? %>
        <dt>
          <%= fedora_field_label("descMetadata", [:pbcoreDescriptionDocument, {:pbcorePart => "0"}, :pbcoreCreator, :creator], "Name of the Company:")%>
	</dt>
        <dd>
          <%= get_values_from_datastream(@document_fedora,"descMetadata", [:pbcoreDescriptionDocument, {:pbcorePart => "0"}, :pbcoreCreator, :creator]) %>
        </dd>
      <% end %>
      <% unless get_values_from_datastream(@document_fedora,"descMetadata", [:pbcoreDescriptionDocument, {:pbcorePart => "0"}, :pbcoreAnnotation]).first.empty? %>
        <dt>
          <%= fedora_field_label("descMetadata", [:pbcoreDescriptionDocument, {:pbcorePart => "0"}, :pbcoreAnnotation], "Comments:")%>
	</dt>
        <dd>
          <%= get_values_from_datastream(@document_fedora,"descMetadata", [:pbcoreDescriptionDocument, {:pbcorePart => "0"}, :pbcoreAnnotation]) %>
        </dd>
      <% end %>
      <% unless get_values_from_datastream(@document_fedora,"descMetadata", [:pbcoreDescriptionDocument, {:pbcorePart => "0"}, {:pbcoreRightsSummary => "0"}, :rightsSummary]).first.empty? %>
        <dt>
          <%= fedora_field_label("descMetadata", [:pbcoreDescriptionDocument, {:pbcorePart => "0"}, {:pbcoreRightsSummary => "0"}, :rightsSummary], "Contract on File:")%>
	</dt>
        <dd>
          <%= get_values_from_datastream(@document_fedora,"descMetadata", [:pbcoreDescriptionDocument, {:pbcorePart => "0"}, {:pbcoreRightsSummary => "0"}, :rightsSummary]) %>
        </dd>
      <% end %>
      <% unless get_values_from_datastream(@document_fedora,"descMetadata", [:pbcoreDescriptionDocument, {:pbcorePart => "0"}, {:pbcoreRightsSummary => "1"}, :rightsSummary]).first.empty? %>
        <dt>
          <%= fedora_field_label("descMetadata", [:pbcoreDescriptionDocument, {:pbcorePart => "0"}, {:pbcoreRightsSummary => "1"}, :rightsSummary], "Usage Rights:")%>
	</dt>
        <dd>
          <%= get_values_from_datastream(@document_fedora,"descMetadata", [:pbcoreDescriptionDocument, {:pbcorePart => "0"}, {:pbcoreRightsSummary => "1"}, :rightsSummary]) %>
        </dd>
      <% end %>
    </dl>
  </fieldset>
  <fieldset>
    <legend>Speakers</legend>
    <dl>
      <% num_of_part = get_values_from_datastream(@document_fedora,"descMetadata", [:pbcoreDescriptionDocument, :pbcorePart]).size %>
      <% curr_part = 0 %>
      <% while(curr_part < num_of_part)  %>
	<%- if get_values_from_datastream(@document_fedora,"descMetadata", [:pbcoreDescriptionDocument, {:pbcorePart => curr_part}, :pbcoreContributor, :contributorRole]).inspect.include?("speaker") -%>
          <% unless get_values_from_datastream(@document_fedora,"descMetadata", [:pbcoreDescriptionDocument, {:pbcorePart => curr_part}, :pbcoreContributor, :contributor]).first.empty? %>
	    <dt>
              <%= fedora_field_label("descMetadata", [:pbcoreDescriptionDocument, {:pbcorePart => curr_part}, :pbcoreContributor, :contributor], "Speaker Name:")%>
  	    </dt>
            <dd>
              <%= get_values_from_datastream(@document_fedora,"descMetadata", [:pbcoreDescriptionDocument, {:pbcorePart => curr_part}, :pbcoreContributor, :contributor]) %>
            </dd>
          <% end %>
          <% unless get_values_from_datastream(@document_fedora,"descMetadata", [:pbcoreDescriptionDocument, {:pbcorePart => curr_part}, :pbcoreAnnotation]).first.empty? %>
            <dt>
              <%= fedora_field_label("descMetadata", [:pbcoreDescriptionDocument, {:pbcorePart => curr_part}, :pbcoreAnnotation], "Comments:")%>
	    </dt>
            <dd>
              <%= get_values_from_datastream(@document_fedora,"descMetadata", [:pbcoreDescriptionDocument, {:pbcorePart => curr_part}, :pbcoreAnnotation]) %>
            </dd>
          <% end %>
          <% unless get_values_from_datastream(@document_fedora,"descMetadata", [:pbcoreDescriptionDocument, {:pbcorePart => curr_part}, :pbcoreRightsSummary, :rightsSummary]).first.empty? %>
            <dt>
              <%= fedora_field_label("descMetadata", [:pbcoreDescriptionDocument, {:pbcorePart => curr_part}, :pbcoreRightsSummary, :rightsSummary], "Contract on File:")%>
	    </dt>
            <dd>
              <%= get_values_from_datastream(@document_fedora,"descMetadata", [:pbcoreDescriptionDocument, {:pbcorePart => curr_part}, :pbcoreRightsSummary, :rightsSummary]) %>
            </dd>
          <% end %>
        <% end %>
        <% curr_part = curr_part + 1 %>
      <% end %>
    </dl>
  </fieldset>
  <fieldset>
    <legend>Files Uploaded</legend>
    <dl>
      <dd>
	<table id="file_assets" class="multipleEdit">
	  <tr>
	    <th>File Name</th>
	    <th>Size</th>
	    <th>Uploaded</th>
	  </tr>
	  
	  <% @document_fedora.file_objects(:response_format=>:solr).each do |result| %>
	  <tr class="file_asset" id=<%= result["id"] %>>
	    <td>
	      <%= link_to result[solr_name("title", :text)], file_asset_path(result["id"]) %>
	    </td>
	    <td>
	      <%= result[solr_name("extent", :text)] %>
	    </td>
	    <td>
	      <% dt = DateTime.parse(result[ solr_name("system_create", :date)] ) %>
	      <%= format_date dt %>
	    </td>
	  </tr>
	  <% end %>		
	</table>	
      </dd>
    </dl>
  </fieldset>
</form>
