<form id="document_metadata" action="<%= url_for(:action=>"update", :controller=>"events", :content_type=>"event")%>" method="post" data-resourceType="event" accept-charset="utf-8">
  <fieldset id="work_fields">
    <legend>Description</legend>
    <dl>	
    <% unless get_values_from_datastream(@document_fedora,"descMetadata", [:pbcoreDescriptionDocument, :pbcoreTitle]).first.empty? %>
      <dt>
        <%= fedora_field_label("descMetadata", [:pbcoreDescriptionDocument, :pbcoreTitle], "Title:") %>
      </dt>
      <dd class="title">
        <%= get_values_from_datastream(@document_fedora,"descMetadata", [:pbcoreDescriptionDocument, :pbcoreTitle]) %>
      </dd>
    <% end %>

    <% unless get_values_from_datastream(@document_fedora,"descMetadata", [:pbcoreDescriptionDocument, :pbcoreIdentifier]).first.empty? %>
      <dt>
        <%= fedora_field_label("descMetadata", [:pbcoreDescriptionDocument, :pbcoreIdentifier], "Event ID:") %>
      </dt>
      <dd class="event_id">
        <%= get_values_from_datastream(@document_fedora,"descMetadata", [:pbcoreDescriptionDocument, :pbcoreIdentifier]) %>
      </dd>
    <% end %>

    <% unless get_values_from_datastream(@document_fedora,"descMetadata", [:pbcoreDescriptionDocument, :pbcoreAssetDate]).first.empty? %>
      <dt>
        <%= fedora_field_label("descMetadata", [:pbcoreDescriptionDocument, :pbcoreAssetDate], "Date:") %>
      </dt>
      <dd class="date">
        <%= get_values_from_datastream(@document_fedora,"descMetadata", [:pbcoreDescriptionDocument, :pbcoreAssetDate]) %>
      </dd>
    <% end %>

    <% unless get_values_from_datastream(@document_fedora,"descMetadata", [:pbcoreDescriptionDocument, :pbcoreDescription]).first.empty? %>
      <dt>
        <%= fedora_field_label("descMetadata", [:pbcoreDescriptionDocument, :pbcoreDescription], "Description:") %>
      </dt>
      <dd class="description">
        <%= get_values_from_datastream(@document_fedora,"descMetadata", [:pbcoreDescriptionDocument, :pbcoreDescription]) %>
      </dd>
    <% end %>

    <% unless get_values_from_datastream(@document_fedora,"descMetadata", [:pbcoreDescriptionDocument, :pbcoreSubject]).first.empty? %>
      <dt>
        <%= fedora_field_label("descMetadata", [:pbcoreDescriptionDocument, :pbcoreSubject], "Keyword:") %>
      </dt>
      <dd class="keyword">
        <%= get_values_from_datastream(@document_fedora,"descMetadata", [:pbcoreDescriptionDocument, :pbcoreSubject]) %>
      </dd>
    <% end %>
    </dl>
  </fieldset>
  <fieldset>
    <legend>Copyright Notice</legend>
    <dl>
    <% unless get_values_from_datastream(@document_fedora,"descMetadata", [:pbcoreDescriptionDocument, {:pbcoreRightsSummary => "0"}, :rightsSummary]).first.empty? %>
      <dt>
        <%= fedora_field_label("descMetadata", [:pbcoreDescriptionDocument, {:pbcoreRightsSummary => "0"}, :rightsSummary], "Summary:") %>
      </dt>
      <dd class="copyright_summary">
        <%= get_values_from_datastream(@document_fedora,"descMetadata", [:pbcoreDescriptionDocument, {:pbcoreRightsSummary => "0"}, :rightsSummary]) %>
      </dd>
    <% end %>
    <% unless get_values_from_datastream(@document_fedora,"descMetadata", [:pbcoreDescriptionDocument, {:pbcoreRightsSummary => "0"}, :rightsLink]).first.empty? %>
      <dt>
        <%= fedora_field_label("descMetadata", [:pbcoreDescriptionDocument, {:pbcoreRightsSummary => "0"}, :rightsLink], "Link:") %>
      </dt>
      <dd class="copyright_link">
        <%= get_values_from_datastream(@document_fedora,"descMetadata", [:pbcoreDescriptionDocument, {:pbcoreRightsSummary => "0"}, :rightsLink]) %>
      </dd>
    <% end %>
    <% unless get_values_from_datastream(@document_fedora,"descMetadata", [:pbcoreDescriptionDocument, {:pbcoreRightsSummary => "0"}, :rightsEmbedded]).first.empty? %>
      <dt>
        <%= fedora_field_label("descMetadata", [:pbcoreDescriptionDocument, {:pbcoreRightsSummary => "0"}, :rightsEmbedded], "Embedded:") %>
      </dt>
      <dd class="copyright_embedded">
        <%= get_values_from_datastream(@document_fedora,"descMetadata", [:pbcoreDescriptionDocument, {:pbcoreRightsSummary => "0"}, :rightsEmbedded]) %>
      </dd>
    <% end %>
    </dl>
  </fieldset>
  <fieldset>
    <legend>Usage Rights / Permissions</legend>
    <dl>
    <% unless get_values_from_datastream(@document_fedora,"descMetadata", [:pbcoreDescriptionDocument, {:pbcoreRightsSummary => "1"}, :rightsSummary]).first.empty? %>
      <dt>
        <%= fedora_field_label("descMetadata", [:pbcoreDescriptionDocument, {:pbcoreRightsSummary => "1"}, :rightsSummary], "Summary:") %>
      </dt>
      <dd class="copyright_summary">
        <%= get_values_from_datastream(@document_fedora,"descMetadata", [:pbcoreDescriptionDocument, {:pbcoreRightsSummary => "1"}, :rightsSummary]) %>
      </dd>
    <% end %>
    <% unless get_values_from_datastream(@document_fedora,"descMetadata", [:pbcoreDescriptionDocument, {:pbcoreRightsSummary => "1"}, :rightsLink]).first.empty? %>
      <dt>
        <%= fedora_field_label("descMetadata", [:pbcoreDescriptionDocument, {:pbcoreRightsSummary => "1"}, :rightsLink], "Link:") %>
      </dt>
      <dd class="copyright_link">
        <%= get_values_from_datastream(@document_fedora,"descMetadata", [:pbcoreDescriptionDocument, {:pbcoreRightsSummary => "1"}, :rightsLink]) %>
      </dd>
    <% end %>
    <% unless get_values_from_datastream(@document_fedora,"descMetadata", [:pbcoreDescriptionDocument, {:pbcoreRightsSummary => "1"}, :rightsEmbedded]).first.empty? %>
      <dt>
        <%= fedora_field_label("descMetadata", [:pbcoreDescriptionDocument, {:pbcoreRightsSummary => "1"}, :rightsEmbedded], "Embedded:") %>
      </dt>
      <dd class="copyright_embedded">
        <%= get_values_from_datastream(@document_fedora,"descMetadata", [:pbcoreDescriptionDocument, {:pbcoreRightsSummary => "1"}, :rightsEmbedded]) %>
      </dd>
    <% end %>
    </dl>
  </fieldset>
  <fieldset>
    <legend>People Responsible for Event</legend>
    <dl>
      <% num_of_creator = get_values_from_datastream(@document_fedora,"descMetadata", [:pbcoreDescriptionDocument, :pbcoreCreator]).size %>
      <% curr_creator = 0 %>
      <% while(curr_creator < num_of_creator)  %>
        <dt>
          <%= fedora_field_label("descMetadata", [:pbcoreDescriptionDocument, {:pbcoreCreator => curr_creator}, :creator], "Creator:")%>
	</dt>
        <dd>
          <%= get_values_from_datastream(@document_fedora,"descMetadata", [:pbcoreDescriptionDocument, {:pbcoreCreator => curr_creator}, :creator]) %>
        </dd>
        <dt>
          <%= fedora_field_label("descMetadata", [:pbcoreDescriptionDocument, {:pbcoreCreator => curr_creator}, :creatorRole], "Role:")%>
	</dt>
        <dd>
          <%= get_values_from_datastream(@document_fedora,"descMetadata", [:pbcoreDescriptionDocument, {:pbcoreCreator => curr_creator}, :creatorRole]) %>
        </dd>
        <% curr_creator = curr_creator + 1 %>
      <% end %>
    </dl>
  </fieldset>
  <fieldset>
    <legend>Release or Contract Details</legend>
    <dl>
      <% num_of_part = get_values_from_datastream(@document_fedora,"descMetadata", [:pbcoreDescriptionDocument, :pbcorePart]).size %>
      <% curr_part = 0 %>
      <% while(curr_part < num_of_part)  %>
	<dt>
          <%= fedora_field_label("descMetadata", [:pbcoreDescriptionDocument, {:pbcorePart => curr_part}, :pbcoreContributor, :contributor], "Contributor:")%>
	</dt>
        <dd>
          <%= get_values_from_datastream(@document_fedora,"descMetadata", [:pbcoreDescriptionDocument, {:pbcorePart => curr_part}, :pbcoreContributor, :contributor]) %>
        </dd>
        <dt>
          <%= fedora_field_label("descMetadata", [:pbcoreDescriptionDocument, {:pbcorePart => curr_part}, :pbcoreRightsSummary, :rightsSummary], "Summary:")%>
	</dt>
        <dd>
          <%= get_values_from_datastream(@document_fedora,"descMetadata", [:pbcoreDescriptionDocument, {:pbcorePart => curr_part}, :pbcoreRightsSummary, :rightsSummary]) %>
        </dd>
        <dt>
          <%= fedora_field_label("descMetadata", [:pbcoreDescriptionDocument, {:pbcorePart => curr_part}, :pbcoreRightsSummary, :rightsLink], "Link:")%>
	</dt>
        <dd>
          <%= get_values_from_datastream(@document_fedora,"descMetadata", [:pbcoreDescriptionDocument, {:pbcorePart => curr_part}, :pbcoreRightsSummary, :rightsLink]) %>
        </dd>
	<dt>
          <%= fedora_field_label("descMetadata", [:pbcoreDescriptionDocument, {:pbcorePart => curr_part}, :pbcoreRightsSummary, :rightsEmbedded], "Embedded:")%>
	</dt>
        <dd>
          <%= get_values_from_datastream(@document_fedora,"descMetadata", [:pbcoreDescriptionDocument, {:pbcorePart => curr_part}, :pbcoreRightsSummary, :rightsEmbedded]) %>
        </dd>
        <% curr_part = curr_part + 1 %>
      <% end %>
    </dl>
  </fieldset>
</form>
